<?php
	  
	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
    
?>

<div class="table-responsive">
  
  <div id="table_log_index_wrapper">
	  <table id="table_troncon_index" 
               class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
	  <!-- class="table table-striped table-bordered responsive-utilities"> --> <!--  ligne remplacee par la ligne ci-dessus -->
            <caption><?php echo $filter_html->filter( $i18n -> say('troncon_title_index')) ; ?></caption>
                                              <!--  ajout de log_title_index dans config_i18n.ini -->
		<thead>
			<tr class="headings">
				<th><?php echo $filter_html->filter( $i18n -> say('identification')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('nom')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('description')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('fai')) ; ?></th>
				
				<th colspan="2" style="text-align: center;">
                  <!-- jfb 2016-06-06 mantis 262 début
				  <a href="<?php echo $this->getRequest('Us', 'add'); ?>">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter"></span>  
				  </a>
				  //   jfb 2016-06-06 mantis 262 fin -->
				  <!-- jfb 2016-06-06 mantis 262 début -->
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"
					      title="Ajouter" id="ajouterTronconAUS"></span>  
				  <!-- jfb 2016-06-06 mantis 262 fin -->
				</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			  foreach($troncons as $troncon): 
				$troncon->set('format','%d/%m/%Y') ;
				$troncon_id = $troncon->get('id');
                $identification = $troncon->get('identification');
                $description = $troncon->get('description');
				$nom = $troncon->get('nom');
                $fai = $troncon->get('fai_nom');
				$count_er = $troncon->has('nb_er') ? $troncon->get('nb_er') : 0 ; 
			  
			?>
			<tr href="<?php echo $this->getRequest('Log', 'show', array($troncon_id)); ?>" title="<?php echo $filter_no_html->filter( $i18n->say('show_detail_title')) ; ?>" class="table-clickable-row">
				<td class="table-row-data"><?php echo $identification; ?></td>
				<td class="table-row-data"><?php echo $nom; ?></td>
				<td class="table-row-data"><?php echo $description; ?></td>
				<td class="table-row-data"><?php echo $fai; ?></td>
				<td class="table-row-option"><a href="<?php echo $this->getRequest('Troncon', 'edit', array($troncon_id)); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
				<td class="table-row-option">
						<span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"
						onclick="confirmerT('<?php echo $this->getRequest('Troncon', 'delete', array($troncon_id)); ?>');"
						alt="Supprimer" title="Supprimer" x="<?php echo $this->getRequest('Troncon', 'delete', array($troncon_id)); ?>"></span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	  </table>
	</div>
</div>
