<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($naturematiere_fonctions, 'pager_naturematiere_fonction');

$naturematiere_fonctions = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Naturematiere_Fonction</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('naturematiere_id'); ?></td>
			<td><?php echo $pager->getSortLink('fonction_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($naturematiere_fonctions as $naturematiere_fonction): ?>
		<tr>
			<td<?php echo $pager->getClass($naturematiere_fonctions); ?>><?php echo $naturematiere_fonction->get('naturematiere_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($naturematiere_fonctions); ?>><?php echo $naturematiere_fonction->get('fonction_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($naturematiere_fonctions); ?>><a href="<?php echo $this->getRequest('Naturematiere_Fonction', 'edit', $naturematiere_fonction->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($naturematiere_fonctions); ?>><a href="<?php echo $this->getRequest('Naturematiere_Fonction', 'delete', $naturematiere_fonction->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Naturematiere_Fonction', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>