
<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_entiteadmins, 'pager_fsn_entiteadmin');

$fsn_entiteadmins = $pager->getStatement();
 
?>
<script type='text/javascript'>//<![CDATA[ 

  var show_detail = false ;

  $(window).load(function(){

  $("[id^='entiteadmin_detail_']").on('click', function(event) {
    var myvar = $(this);
    var myvar_array = myvar.attr('id').split('_') ;
    // alert( myvar_array );
		var entiteadmin_id = myvar_array[2];
    
    $.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('Oa','ListSimpleEntiteAdmin') ?>0/"+entiteadmin_id,
			success:function(result){
        $('#oa_list').html(result) ;        
      },
      error:function(result){
        $('#oa_list').html('<div id="flash_message_ko">Incident envoie</div>') ;        
      }
    });
    $.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('User','ListSimple') ?>0/"+entiteadmin_id,
			//data:"layout=0&entiteadmin_id="+entiteadmin_id,
      success:function(result){
        $('#user_list').html(result) ;
      },
      error:function(result){
        $('#user_list').html('<div id="flash_message_ko">Incident envoie</div>') ;        
      }
    });
    
    
    
	});
  $(function () {
    $('[data-toggle="popover"]').popover()
  })

});//]]>  

</script>

<div>
  <div class="col-md-5">   
    <div id="list_entiteadmin">
      <h2 class="page-title">Entit&eacute; Administrative</h2>
      <table class="table table-striped">
      	<thead>
      		<tr>
      			<th><?php echo $pager->getSortLink('organisme_nom', 'Entité Administrative'); ?></th>
      			<th><?php echo $pager->getSortLink('entiteadmin_description', 'Description'); ?></th>
      			<th colspan="3">#</th>
      		</tr>
      	</thead>
      	<tbody>
      	<?php 
          foreach($fsn_entiteadmins as $fsn_entiteadmin):
            $entiteadmin_id= $fsn_entiteadmin->get('id');
            $description = $fsn_entiteadmin->get('entiteadmin_description', $filter_html); 
        
        ?>
      		<tr>
      			<td<?php echo $pager->getClass($fsn_entiteadmins); ?>><?php echo $fsn_entiteadmin->get('organisme_nom', $filter_html); ?></td>
      			<td<?php echo $pager->getClass($fsn_entiteadmins); ?>>

            <?php if (!empty($description) ) { ?>
              <span
                id="description_<?php echo $entiteadmin_id ; ?>"
                class="glyphicon glyphicon-info-sign"
                data-toggle="popover"
                data-container="body"
                data-content="<?php echo $description ; ?>"            
                data-placement="right"
                style="font-size: 18px; cursor:pointer;"
              ></span>        
            <?php } ?>
            
            </td>
            <td<?php echo $pager->getClass($fsn_entiteadmins); ?>>
              <span 
                id="entiteadmin_detail_<?php echo $entiteadmin_id ; ?>" 
                class="glyphicon glyphicon-question-sign" 
                style="font-size: 18px; cursor:pointer;"
              ></span>
            </td>
      			<td<?php echo $pager->getClass($fsn_entiteadmins); ?>><a href="<?php echo $this->getRequest('Fsn_Entiteadmin', 'edit', array( $fsn_entiteadmin->get('id')) ); ?>">
              <span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a>
            </td>
      			<td<?php echo $pager->getClass($fsn_entiteadmins); ?>><a href="<?php echo $this->getRequest('Fsn_Entiteadmin', 'delete', array( $fsn_entiteadmin->get('id')) ); ?>">
              <span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"></span></a>
            </td>
      		</tr>
      	<?php endforeach; ?>
      	</tbody>
      	<tfoot>
      		<tr>
      			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
      		</tr>
      		<tr>
      			<td colspan="5">
      				<a href="<?php echo $this->getRequest('Fsn_Entiteadmin', 'add'); ?>" class="btn btn-primary" >Ajouter</a>
      				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default">Retour à index</a>
      			</td>
      		</tr>
      	</tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-7">   
    <div id="detail_antiteadmin">
      <h2 class="page-title">D&eacute;tail</h2>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#oa" role="tab" data-toggle="tab">Op&eacute;ration Arch&eacute;ologique</a></li>
        <li role="presentation"><a href="#user" role="tab" data-toggle="tab">Utilisateurs</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="oa">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Liste des Op&eacute;ration(s) Arch&eacute;ologique(s)</h3>
            </div>
            <div class="panel-body" style="height:450px; overflow-y: auto;">
              <div id="oa_list">
                <?php echo $this->getResponse('Oa', 'ListSimpleEntiteAdmin', array( 'layout' => false , 'entiteadmin_id' => $entiteadmin_id ) ) ; ?>
              </div>       
            </div>        
          </div>
        </div>
    
        <div role="tabpanel" class="tab-pane" id="user">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Liste des Utilisateurs</h3>
              </div>
              <div class="panel-body" style="height: 450px; overflow-y: auto;">
                <div id="user_list">
                  <?php echo $this->getResponse('User', 'ListSimple', array( 'layout' => false , 'entiteadmin_id' => $entiteadmin_id ) ) ; ?>
                </div>       
              </div>        
            </div>
        </div>
      </div>    
    </div>
  </div>
</div>  

<?php 
  $this->getLayout()->setEnabled(true);
  
?>