<div class="x_panel">                                
  <div class="x_title">
  	<h2>Configuration</h2>                                    
    <ul class="nav navbar-right panel_toolbox">   
      <li>
      	<a class="collapse-link">
        	<i class="fa fa-chevron-up"></i>
        </a>   
      </li>   
      <li class="dropdown">       
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="fa fa-wrench"></i></a>       
	        <ul class="dropdown-menu" role="menu">           
	          <li>
	          	<a href="#">Settings 1</a>
	          </li>           
		      <li>
		      	<a href="#">Settings 2</a>           
		      </li>       
		    </ul>   
		  </li>   
		  <li>
		    <a class="close-link">
		      <i class="fa fa-close"></i></a>   
		    </li>                                    
		    </ul>                                    
		    <div class="clearfix">
		    </div>                                
		  </div>                                
		  <div class="x_content">                                    
		    <p>Menu de configuration (factice )</p>                                    
		    <a class="btn btn-app" href="<?php echo $this->getRequest('User', 'index'); ?>" >   
		      <span class="badge bg-green">211 </span>   
		      <i class="fa fa-user"></i> Utilisateurs
		    </a>
		    <a class="btn btn-app" href="<?php echo $this->getRequest('fsn_admin_group', 'index'); ?>">   
		      <span class="badge bg-green">211 </span>   
		      <i class="fa fa-users"></i> Groupes
		    </a>
		    
		    <a class="btn btn-app">   
		      <i class="fa fa-edit"></i> Edit</a>                                    
		    <a class="btn btn-app">   
		      <i class="fa fa-play"></i> Play</a>                                    
		    <a class="btn btn-app">   
		      <i class="fa fa-pause"></i> Pause</a>                                    
		    <a class="btn btn-app">   
		      <i class="fa fa-save"></i> Save</a>                                    
		    <a class="btn btn-app">   
		      <span class="badge bg-red">6
		      </span>   
		      <i class="fa fa-bullhorn"></i> Notifications</a>                                    
		    <a class="btn btn-app">   
		      <i class="fa fa-repeat"></i> Repeat</a>                                    
		                                        
		    <a class="btn btn-app">   
		      <span class="badge bg-orange">32
		      </span>   
		      <i class="fa fa-inbox"></i> Orders</a>                                    
		    <a class="btn btn-app">   
		      <span class="badge bg-orange">12
		      </span>   
		      <i class="fa fa-envelope"></i> Inbox</a>                                    
		    <a class="btn btn-app">   
		      <span class="badge bg-blue">102
		      </span>   
		      <i class="fa fa-heart-o"></i> Likes</a>                                
  </div>                            
</div>