<?php

  $user_info = $this->getSession()->get('session') ;


$sitefouille_id = $this->getSession()->get('sitefouille_id') ;
?>
<style>
#element .col-md-3{
	text-align:center;
	
}
#element .col-md-3{
	display:auto;
}
#element .col-md-3 .panel{
	min-height:130px;
	
}
#element .panel-body{
	font-size:150%;
	
}
.container_liste td{
	display: auto;
	padding : 3px;
	padding-right : 20px;
	
	
}
.panel-body ul li{
	padding-top:7px;
}


.panel-body .col-md-12 .container_liste{
	min-height:350px;
	display:flex;
	flex-direction:column;
	justify-content:middle;
}
.container_list{
margin: auto;

}
.container_stats{
  margin-left:0;
  left:0;
  /* height: 350px; // Réduction des dimensions des graphes (cf. View/dashboard/us/contexte.html) */
  height: 300px;
}
</style>

<form method="post" action="" role="form" class="form-horizontal" >
	<?php
	echo $this->getResponse('Dashboard_Elementrecueilli','isole', array('layout' => false));
	
	?>		
</form>

<form method="post" action="" role="form" class="form-horizontal" >
<div class="group-panel" id="accordion" role="tablist" aria-multiselectable="true">
	
	<!-- Panel Etat - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingEtat">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEtat" aria-expanded="true" aria-controls="collapseEtat">
					Etat El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseEtat" class="panel-collapse collapse in" role="tabpanel" aria-labeledby="headingEtat">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
						echo $this->getResponse('Dashboard_Elementrecueilli','etat', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Etat - End -->
	
	<!-- Panel Statut - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingStatut">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStatut" aria-expanded="false" aria-controls="collapseThree">
					Statut El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseStatut" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingStatut">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
						echo $this->getResponse('Dashboard_Elementrecueilli','statut', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Statut - End -->
	
	<!-- Panel Classe - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingClasse">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseClasse" aria-expanded="false" aria-controls="collapseThree">
					Classe El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseClasse" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingClasse">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
						echo $this->getResponse('Dashboard_Elementrecueilli','classe', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Classe - End -->
	
	<!-- Panel Nature Matière Principale - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingNatureMatiere">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNatureMatiere" aria-expanded="false" aria-controls="collapseThree">
					Nature Mati&egrave;re Principale El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseNatureMatiere" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingNatureMatiere">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
						echo $this->getResponse('Dashboard_Elementrecueilli','naturematiere', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Nature Matière Principale - End -->
	
	<!-- Panel Fonction - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingFonction">
			<h4 class="panel-title">
				<a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFonction" aria-expanded="false" aria-controls="collapseThree">
					Fonction El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseFonction" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingFonction">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
						echo $this->getResponse('Dashboard_Elementrecueilli','fonction', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Fonction - End -->
	
	<!-- Panel Poterie - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingPoterie">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePoterie" aria-expanded="false" aria-controls="collapseThree">
					Poterie
				</a>
			</h4>
		</div>
		<!-- SubGroup - Start -->
		<div id="collapsePoterie" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingPoterie">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="group-panel" id="accordionPoterie" role="tablist" aria-multiselectable="true"> 
						<!-- Panel Caractéristique Pate - Start -->
						<div class="panel panel panel-primary">
							<div class="panel-heading" role="tab" id="headingCaracteristique">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordionPoterie" href="#collapseCaracteristique" aria-expanded="false" aria-controls="collapseThree">
										Caract&eacute;ristique p&acirc;te
									</a>
								</h4>
							</div>
							<div id="collapseCaracteristique" class="panel-collapse collapse in" role="tabpanel" aria-labeledby="headingCaracteristique">
								<div class="panel-body">
									<div class="col-md-12">
										<?php
											echo $this->getResponse('Dashboard_Elementrecueilli','caracteristique', array('layout' => false));
										?>
									</div>
								</div>
							</div>
						</div>
						<!--  Panel Caractéristique Pate - End -->
						
						<!-- Panel Production - Start -->
						<div class="panel panel panel-primary">
							<div class="panel-heading" role="tab" id="headingProduction">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionPoterie" href="#collapseProduction" aria-expanded="false" aria-controls="collapseThree">
										Production
									</a>
								</h4>
							</div>
							<div id="collapseProduction" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingProduction">
								<div class="panel-body">
									<div class="col-md-12">
										<?php
											echo $this->getResponse('Dashboard_Elementrecueilli','production', array('layout' => false));
											
										?>
									</div>
								</div>
							</div>
						</div>
					<!--  Panel Production - End -->
					
					<!-- Panel Forme - Start -->
						<div class="panel panel panel-primary">
							<div class="panel-heading" role="tab" id="headingForme">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionPoterie" href="#collapseForme" aria-expanded="false" aria-controls="collapseThree">
										Forme
									</a>
								</h4>
							</div>
							<div id="collapseForme" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingForme">
								<div class="panel-body">
									<div class="col-md-12">
										<?php
											echo $this->getResponse('Dashboard_Elementrecueilli','forme', array('layout' => false));
										?>
									</div>
								</div>
							</div>
						</div>
					<!--  Panel Forme - End -->
					
					<!-- Panel Classification - Start -->
						<div class="panel panel panel-primary">
							<div class="panel-heading" role="tab" id="headingClassification">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionPoterie" href="#collapseClassification" aria-expanded="false" aria-controls="collapseA">
										Classification
									</a>
								</h4>
							</div>
							<div id="collapseClassification" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingClassification">
								<div class="panel-body">
									<div class="col-md-12">
										<?php
											echo $this->getResponse('Dashboard_Elementrecueilli','classification', array('layout' => false));
										?>
									</div>
								</div>
							</div>
						</div>
					<!--  Panel Classification - End -->
					</div>
				</div>
			</div>
		</div>
		<!-- SubGroup - End -->
	</div>
	<!--  Panel Poterie - End -->
	
	<!-- Panel Datation - Start -->
	<div class="panel panel panel-primary">
		<div class="panel-heading" role="tab" id="headingDatation">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDatation" aria-expanded="false" aria-controls="collapseThree">
					Datation El&eacute;ments Recueillis
				</a>
			</h4>
		</div>
		<div id="collapseDatation" class="panel-collapse collapse" role="tabpanel" aria-labeledby="headingDatation">
			<div class="panel-body">
				<div class="col-md-12">
					<?php
					
						echo $this->getResponse('Dashboard_Elementrecueilli','datation', array('layout' => false));
					?>
				</div>
			</div>
		</div>
	</div>
	<!--  Panel Statut - End -->
</div>

</form>

<?php
  /**
   * Indispensable pour afficher le Layout, desactivÃ© pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>