{literal}
<style>
fieldset p {text-align:left;margin:0;}
</style>
{/literal}

<div class="titrePage">
	<h2>{'Export Data'|@translate}</h2>
</div>

<a href="{$EXPORT_DATA_ADMIN}&amp;type=albums">{'Export albums'|@translate}</a>
| <a href="{$EXPORT_DATA_ADMIN}&amp;type=photos">{'Export photos'|@translate}</a>