<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$errors = $this->getSession()->has('errors')?$this->getSession()->get('errors'):array();

	$base_url = $request->getBaseUrl();

	$sitefouille_id = $form_add->getElement('sitefouille_id')->has('value') ? $form_add->getElement('sitefouille_id')->get('value') : null ;
	$identification = $form_add->getElement('identification')->has('value') ? $form_add->getElement('identification')->get('value') : null ;

?>

<script src="<?php echo $base_url; ?>/js/unitesondage/add.js"></script>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 well">
        <h2 class="page-header">Ajout Unit&eacute Sondage</h2>
        <form method="post" name="form_unitesondage" action="" role="form" class="form-horizontal">	
            <fieldset>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- Panel Identification - Start -->
                    <div id="panel_identification" class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingIdentification">
                            <h4 class="panel-title">
                                <span class="icon-address" aria-hidden="true"></span>&nbsp;
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification"
                                   aria-expanded="true" aria-controls="collapseIdentification">Identification</a>
                            </h4>
                        </div>
                        
                        <div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
                            <div class="panel-body">
                            	
                                <div class="form-group field text" id="Fnumerosite">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="numerosite">
                                        <?php echo $filter_no_html->filter($form_add->getElement('sitefouille_id')->get('label')); ?>
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" type="text" id="numerosite" placeholder="Num&eacute;ro du site" maxlength="11" name="numerosite" class="form-control text"
                                    value="<?php echo $form_add->getElement('sitefouille_id')->get('intitule'); ?>" readonly="1" /></div></div>
                                </div>
                                
                            	<div
                                class="form-group field <?php echo array_key_exists('identification', $errors) ? ' error' : ''; ?>"
                                id="F<?php echo $form_add->getElement('identification')->get('id'); ?>">
                            		<label
                                    class="col-md-3 control-label"
                                    for="<?php echo $filter_html->filter($form_add->getElement('numero_ident')->get('id')); ?>">
                                		<?php echo $filter_no_html->
                                			filter($form_add->getElement('identification')->get('label')); ?>
                            		</label>
                            		<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
                                		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding-left: 0;">
                                    		<input id="<?php echo 'label_'.$form_add->getElement('numero_ident')->get('id'); ?>" class="form-control text" type="text"
                                           value="<?php echo $form_add->getElement('identification')->get('prefix').'.'; ?>"
                                           name="<?php echo 'label_'.$form_add->getElement('numero_ident')->get('id'); ?>"
                                           disabled />
                                		</div>
                                		<?php echo $form_add->getElement('numero_ident')->getHtml(); ?>
                                		<?php echo $form_add->getElement('identification')->getHtml(); ?>
                            		</div>
                        		</div>
                                <div class="form-group field text" id="Fnom">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="nom">
                                        Nom *
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" type="text" id="nom" placeholder="Nom" name="nom" class="form-control text" value="" /></div></div>
                                </div>
                                
                                <div class="form-group field text" id="Ftypeunitesondage">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="type_unitesondage">
                                        Type *<em>(tranchee/fenetre)</em>
                                    </label>
                                    <div>
                                    	<?php echo $form_add->getElement('type')->getHtml();?>
                                    </div>
                                </div>
                                
                                <div class="form-group field text" id="Fnumerotranchee">
									<label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="numero_tranchee">
										<?php echo $form_add->getElement('numero_tranchee')->get('label').' *';?>
									</label>
									<div><?php echo $form_add->getElement('numero_tranchee')->getHtml();?></div>
								</div>
                                
                                <div class="form-group field textarea" id="Fdescription">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="description">
                                        <?php echo $form_add->getElement('description')->get('label');?>
                                    </label>
                                    <div><?php echo $form_add->getElement('description')->getHtml();?></div>
                                </div>
                                
                                <div class="form-group field text" id="Flargeur">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="largeur">
                                        Largeur *<em style="display: block">m</em>
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="number" id="largeur" placeholder="123" name="largeur" class="form-control text" min="1" /></div></div>
                                </div>
                                
                                <div class="form-group field text" id="Flongeur">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="longueur">
                                        Longueur *<em style="display: block">m</em>
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="number" id="longueur" placeholder="456" name="longueur" class="form-control text" min="1" /></div></div>
                                </div>
                                
                                <div class="form-group field text" id="Fprofondeur">
                                    <label class="col-lg-3 col-md-3 col-sm-6 col-xs-6 control-label" for="profondeur">
                                        Profondeur *<em style="display: block">m</em>
                                    </label>
                                    <div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="number" id="profondeur" placeholder="456" name="profondeur" class="form-control text" min="1" /></div></div>
                                </div>
                               
								<div class="form-group field text" id="Fdatation_debut">
									<label class="col-lg-3 col-xs-6 control-label" for="datation_debut">
									Debut</label>
									<div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" name="date_debut" id="datation_debut" class="form-control text datepicker"></div></div>
								</div>
                               
								<div class="form-group field text" id="Fdatation_fin">
									<label class="col-lg-3 col-xs-6 control-label" for="datation_fin">
									Fin</label>
									<div><div class="col-lg-9 col-md-9 col-sm-6 col-xs-6"><input type="text" name="date_fin" id="datation_fin" class="form-control text datepicker"></div></div>
								</div>
								<!-- 
								<div class="form-group field text" id="Fdatation_fin">
									
								</div>
								 -->

                            </div>
                        </div>
                    </div>
                    <!-- Panel Identification - End -->
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                    <a href="/fsn-php/fsn-site-central/public/Unitesondage/index/" class="btn btn-default">Retour</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
  */
  $this->getLayout()->setEnabled(true);
?>