<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_edit->getErrors();

	$base_url = $request->getBaseUrl();

	// $us_id = $form_edit->hasElement('id') ? $form_edit->getElement('id')->getValue() : null ;

	$sitefouille_id = $form_edit->getElement('sitefouille_id')->has('value') ? $form_edit->getElement('sitefouille_id')->get('value') : null ;
	$identification = $form_edit->getElement('identification')->has('value') ? $form_edit->getElement('identification')->get('value') : null ;

?>
<script src="<?php echo $request->getBaseUrl(); ?>/js/unitesondage/edit.js"></script>
<!-- <script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/ajax_relation_viewer.js"></script> -->
<!-- <script src="<?php //echo $request->getBaseUrl(); ?>/2.0/js/dialog/jquery-ui.min.js"></script> -->

<style>
	.arrow_fork_top{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_top.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_fork_middle{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_middle.png');
		background-repeat: no-repeat;
		background-position: center ;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_fork_bottom{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_bottom.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_vertical_top{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_top.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size:100%;
		min-width: 20px;
		min-height: 30px;
		height: 30px;
	}
	.arrow_vertical_middle{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_middle.png');
		background-repeat: repeat-y;
		background-position: center ;
		background-size:100%;
		width: 20px;
	}
	.arrow_vertical_bottom{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_bottom.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size:100%;
		min-width: 20px;
		min-height: 30px;
		height: 30px;
	}
	.td_border_bottom_dotted {
		border-bottom-style: dotted;
	}
	.td_border_top_dotted {
		border-top-style: dotted;
	}
</style>
<script>
	$(function(){
		$('.select').prop('disabled',true)
		$('.checkbox').prop('disabled',true)
	})
</script>
<h2 class="page-header">Modification de l'unit&eacute; de sondage <?php echo $filter_no_html->filter($form_edit->getElement('identification')->get('value')); ?>
</h2>

<form name="form_unitesondage" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-6-offset-2">
						<div
								class="form-group field <?php echo $form_edit->getElement('sitefouille_id')->get('type'); ?> <?php echo array_key_exists('sitefouille_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('sitefouille_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('sitefouille_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('sitefouille_id')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('sitefouille_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('id')->get('type'); ?> <?php echo array_key_exists('id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('id')->get('id'); ?>">
							<?php echo $form_edit->getElement('id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('identification')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<input id="<?php echo $form_edit->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_edit->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_edit->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('nom', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('nom')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('nom')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('nom')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('nom')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('description')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('description')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('description')->getHtml(); ?>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->
		<!-- Panel Caracteristics - Start -->
		<div id="panel_caracteristics" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingCaracteristics">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCaracteristics" aria-expanded="false" aria-controls="collapseThree">
						Caract&eacute;ristiques
					</a>
				</h4>
			</div>
			<div id="collapseCaracteristics" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCaracteristics">
				<div class="panel-body">
						<div
								class="form-group field <?php echo $form_edit->getElement('largeur')->get('type'); ?>"
								id="F<?php echo $form_edit->getElement('type')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('type')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('type')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('type')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('largeur')->get('type'); ?>"
								id="F<?php echo $form_edit->getElement('largeur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('largeur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('largeur')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('largeur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('longueur')->get('type'); ?>"
								id="F<?php echo $form_edit->getElement('longueur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('longueur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('longueur')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('longueur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('profondeur')->get('type'); ?>"
								id="F<?php echo $form_edit->getElement('profondeur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('profondeur')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('profondeur')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('profondeur')->getHtml(); ?>
						</div>
							<div class="form-group field <?php echo array_key_exists('date_debut', $form_errors) ? ' error' : ''; ?>" id="F<?php echo $form_edit->getElement('date_debut')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('date_debut')->get('id'); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('date_debut')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('date_debut')->getHtml(); ?>
							</div>
							<div class="form-group field <?php echo array_key_exists('date_fin', $form_errors) ? ' error' : ''; ?>" id="F<?php echo $form_edit->getElement('date_fin')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('date_fin')->get('id'); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('date_fin')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('date_fin')->getHtml(); ?>
							</div>
				</div>
			</div>
		</div>
		<!-- Panel Caracteristics - End -->

		<!-- Panel Logs - Start -->
		<div id="panel_logs" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingLogs">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLogs" aria-expanded="false" aria-controls="collapseTwo">
						Logs
					</a>
				</h4>
			</div>
			<div id="collapseLogs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-sm-12" id="Logs">
										
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Logs - End -->
		<!-- Panel Troncons - Start -->
		<div id="panel_troncons" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingTroncons">
				<h4 class="panel-title">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTroncons" aria-expanded="false" aria-controls="collapseTwo">
						<?php echo $filter_html->filter( $i18n -> say('troncon_title_index')); ?>
					</a>
				</h4>
			</div>
			<div id="collapseTroncons" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div role="tabpanel" class="tab-pane col-sm-12" id="Troncons">
										
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Troncons - End -->
	</div>
	<div>
        <input type="hidden" value="<?php echo $base_url; ?>" id="baseURLfield">
        <input class="btn btn-success" value="Enregistrer" type="submit">
		<a href="<?php echo $this->getRequest('Unitesondage', 'index'); ?>" class="btn btn-default">Retour</a>
	</div>
	</div>
</form>

  <!-- Modal -->
  <div 
    class="modal fade" id="myModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fsn">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Fermer</span>
          </button>
          <h4 class="modal-title" id="modalTitle"></h4>
        </div>
        <div id="modalBody" class="modal-body">
  
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>        
        </div>
        -->
      </div>
    </div>
  </div>
<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>