<?php
// appel fichier internalisation
$i18n = $this->getRegistry()->get('i18n');
$filter_html = new Yab_Filter_Html();
$filter_no_html = new Yab_Filter_NoHtml();
?>
<div class="alert alert-success">
	<strong><span class="glyphicon glyphicon-check"></span> Envoi
		validé !</strong>
	<?php echo $filter_no_html->filter( $i18n -> say('photosuccess')); ?>

</div>