
<style type="text/css"> 
#madiv{height:200pt;overflow:auto} 
</style> 

<!-- leaflet -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<!-- <link rel="stylesheet"  href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" /> -->
  <!-- inclusion leaflet -->
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<!-- <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script> -->
<!-- 2016-10-24 Barre de dessin https://unpkg.com/leaflet-draw@0.4.1/dist/leaflet.draw.* début -->
<link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/css/leafletdraw/leaflet.draw.css" />
<script src="<?php echo $request->getBaseUrl(); ?>/js/leafletdraw/leaflet.draw.js"></script>
<!-- 2016-10-24 Barre de dessin leaflet.draw fin -->
<script src="<?php echo $request->getBaseUrl(); ?>/js/autocomplete/jquery-ui.js"></script>

<!--
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jspdf.plugin.svgToPdf.js"></script>
<script type="text/javascript" src="http://www.phpied.com/files/rgbcolor/rgbcolor.js"></script>
-->
<!--
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jspdf.min.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/pdfexport.min.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/html2canvas.min.js"></script>   
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jsfsn.js"></script>
-->   
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jQuery.print.js"></script>   
   
   <style>
 	#map { height: 900px; width: 900px}
    //#map { position:absolute; top:0; bottom:0; width:100%; height:100%; }
  </style>
  <div>
  	<div style="float:left; width=75%" id="map"></div>
  	<span style="float:left; 25%" class="glyphicon glyphicon-th-large" style="font-size: 32px;"data-toggle="modal" data-target="#id-popup"></span>
  		<div style="float:right">
  			<a href="<?php echo $this->getRequest('Sitefouille', 'Telechargement', $sf->getPrimary()); ?>" class="btn btn-default">retour</a>
  			<!-- <span id="generatePDF" onclick="generatePDF('map');" class="btn btn-default">Export PDF</span> -->
  			<span id="printMap" onclick="$('#map').print();" class="btn btn-default">Imprimer</span>
  		</div>
  </div>

<style>
	.ui-autocomplete {
    	z-index: 55555;
	}
</style>  

  <script>
  
// autocomplete
$( function() {
    var autocomUs = [];
	<?php foreach ($tab as $item) { ?>
      	autocomUs.push("<?php echo $item['identification'];?>");
  	<?php } ?>
  	$( "#us_create" ).autocomplete({
  		source: autocomUs
  	});

  	var autocomFai = [];
	<?php foreach ($fai as $item) { ?>
      	autocomFai.push("<?php echo $item['identification'];?>");
  	<?php } ?>
  	$( "#fai_create" ).autocomplete({
  		source: autocomFai
  	});
} );
  
  function checkAll(obj,checkBoxName) {
	inputName = "input[name='" + checkBoxName + "']";
	$(inputName).prop("checked",$(obj).prop("checked"));
  }
  
  $( document ).ready(function() {
	    
	  var map = null;
	  var drawnItems = null;
	  var contour_modif = Array();
	  var points = 0;
	  var newPoly = null;
	  
	  
	  
	  $('#form_fai').hide();
	  $('#categorie').change(function () {
		 if (this.value=='fai') {
			 $('#form_us').hide();
			 $('#form_fai').show();
			 $('#us_create').val('');
		 } else if (this.value=='us') {
			 $('#form_fai').hide();
			 $('#form_us').show();
			 $('#fai_create').val('');
		 } else if (this.value=='sf') {
			 $('#form_fai').hide();
			 $('#form_us').hide();
			 $('#fai_create').val('');
			 $('#us_create').val('');
		 }
	  });
	  
	  
	  $("#form_sitefouille").submit(function(){
		  var values = getUSValues();
		  var fai = getFAIValues();
		  var sf = document.getElementsByName('idsf');
		  sf = sf[0];
		  var us_url = "<?php echo $this->getRequest('contour_us','AjaxGetContours' ) ; ?>"
		  var fai_url = "<?php echo $this->getRequest('contour_fai','AjaxGetContours' ) ; ?>"
		 var sf_url = "<?php echo $this->getRequest('contour_Sitefouille','AjaxGetContours' ) ; ?>"
			
		  drawnItems.clearLayers();
				  
		  if (values[0] !== undefined) {
			  getContours(values, us_url);
		  }
		  
		  if (fai[0] !== undefined) {
			  getContours(fai, fai_url);
		  }
		  
		  if (sf.checked) {
			  getContours(sf.id, sf_url);
		  }
		  
		  $('#id-popup').modal("hide");
		  
		  return false;
	});
	  
	  $("#form_create").submit(function(){
		  var categorie = document.getElementById('categorie').value;
		  var fai_url = "<?php echo $this->getRequest('contour_fai','AjaxSetContours' ) ; ?>"
		  var us_url = "<?php echo $this->getRequest('contour_us','AjaxSetContours' ) ; ?>"
		 var sf_url = "<?php echo $this->getRequest('contour_sitefouille','AjaxSetContours' ) ; ?>"
		
		if (categorie == 'us') {
			  //var us = '<?php echo $sf->get("nomabrege");?>' +'.'+ document.getElementById('us_create').value;
			  var us = document.getElementById('us_create').value;
			  contour_modif[points+1] = us;
			  //$('#popup_create').modal("hide");
			 setContours(us_url, categorie);  
		  } else if (categorie == 'fai') {
			  var fai = document.getElementById('fai_create').value;
			  contour_modif[points+1] = fai;
			  //$('#popup_create').modal("hide");
			  setContours(fai_url, categorie);
		  } else if (categorie == 'sf') {
			  var sf = document.getElementsByName('idsf');
			  	sf = sf[0].id;
			  contour_modif[points+1] = sf;
			  //$('#popup_create').modal("hide");
			  setContours(sf_url, categorie);
		  }
		  
		
		
		  return false;
	});
	
	  function editPoly(categorie) {
		  
		  if (categorie=='us') {
			  var url = "<?php echo $this->getRequest('contour_us','AjaxEditContours' ) ; ?>"
		  }else if (categorie == 'fai') {
			  var url = "<?php echo $this->getRequest('contour_fai','AjaxEditContours' ) ; ?>"
		  } else if (categorie == 'sf') {
			  var url = "<?php echo $this->getRequest('contour_sitefouille','AjaxEditContours' ) ; ?>"
		  }
		  
		  $.ajax({
			  async: false,
              url: url,
		       type: 'POST',
		       data: {contour_modif:contour_modif},
		       //dataType : 'json',
		       success : function(data, statut){ // success est toujours en place, bien sûr !
		           alert(data);
		    	   return data;
		       },
		       error : function(resultat, statut, erreur){
		    	   return (erreur);
		       }
		    });
	  }
	  
	  function deletePoly(id, categorie) {
		  if (categorie=='us') {
			  var url = "<?php echo $this->getRequest('contour_us','AjaxDeleteContours' ) ; ?>"
		  }else if (categorie == 'fai') {
			  var url = "<?php echo $this->getRequest('contour_fai','AjaxDeleteContours' ) ; ?>"
		  } else if (categorie == 'sf') {
			  var url = "<?php echo $this->getRequest('contour_sitefouille','AjaxDeleteContours' ) ; ?>"
		  }
		  
		  $.ajax({
			  async: false,
              url: url,
		       type: 'POST',
		       data:"id=" + id,
		       //dataType : 'json',
		       success : function(data, statut){ // success est toujours en place, bien sûr !
		           alert(data);
		    	   return data;
		       },
		       error : function(resultat, statut, erreur){
		    	   return (erreur);
		       }
		    });
	  }
	  
	  function getUSValues() {
		  var values = document.getElementsByName('idus');
		  var count = 0;
		  var result = Array();
		  
		  for (var p in values) {
			  var item = values[p];
			  if (item.checked) {
				  result[count] = item.id;
				  count++;
			  }
		  }
		  return result;
	  }
	  
	  function getFAIValues() {
		  var values = document.getElementsByName('idfai');
		  var count = 0;
		  var result = Array();
		  
		  for (var p in values) {
			  var item = values[p];
			  
			  if (item.checked) {
				  result[count] = item.id;
				  count++;
			  }
		  }
		  
		  return result;
	  }
	  
	  function getContours(values, url) {
		  $.ajax({
			  async: false,
              url: url,
		       type: 'POST',
		       data: {values:values},
		       dataType : 'json',
		       success : function(data, statut){ // success est toujours en place, bien sûr !
		          
		    	   drawPoly(data);
		       //drawPoly(data);
		       },
		       error : function(resultat, statut, erreur){
					alert('us '+erreur);
		       }
		    });
	  }
	  
	  function setContours(url, categorie) {
		  $.ajax({
			  async: false,
              url: url,
		       type: 'POST',
		       data: {contour_modif:contour_modif},
		       dataType : 'json',
		       success : function(data, statut){ // success est toujours en place, bien sûr !
		    	 //alert(data);  
		    	   alert(data[1]);
		    	   
		       		if (data[0]!='vide') {
		        	   newPoly.bindPopup(contour_modif[points+1]);
		        	   newPoly.id = data[0];
		        	   newPoly.categorie = categorie;
		        	   if (newPoly.categorie=='us') {
		 				  newPoly.setStyle({fillColor: 'red'});  
		 			  } else if (newPoly.categorie == 'fai') {
		 				  newPoly.setStyle({fillColor: 'blue'});
		 				 newPoly.setStyle({color: 'blue'});
		 				  newPoly.bringToBack();
		 			  } else if (newPoly.categorie == 'sf') {
		 				  newPoly.setStyle({fillColor: 'grey'});
			 				 newPoly.setStyle({color: 'grey'});
			 				  newPoly.bringToBack();
			 		}
		        	   $('#popup_create').modal("hide");
		           } 
		    	   
		       },
		       error : function(resultat, statut, erreur){
		    	   alert(erreur);
		       }
		    });
	  }
	  
	  function drawPoly (data) {
		  for (var p in data.entity) {
			  var tab = Array();
			  for (var q in data.entity[p].poly) {
				  tab.push([Number(data.entity[p].poly[q][0]), Number(data.entity[p].poly[q][1])]);
			  }
			  var poly = L.polygon(tab).bindPopup(data.entity[p].name);
			  
			  poly.id = data.entity[p].id;
			  poly.categorie = data.entity[p].categorie;
			  
			  drawnItems.addLayer(poly);
			  
			  if (poly.categorie=='us') {
				  poly.setStyle({fillColor: 'red'});  
			  } else if (poly.categorie == 'fai') {
				  poly.setStyle({fillColor: 'blue'});
				  poly.bringToBack();
			  } else if (poly.categorie == 'sf') {
				  poly.setStyle({fillColor: 'grey'});
				  poly.bringToBack();
			  }
			  
			  
		  }
	  }
	  
function drawPolyFai (data) {
		  for (var p in data.fai) {
			  var tab = Array();
			  for (var q in data.fai[0].poly) {
				  tab.push([Number(data.fai[p].poly[q][0]), Number(data.fai[p].poly[q][1])]);
			  }
			  var poly = L.polygon(tab).bindPopup(data.fai[p].name);
			  
			  poly.setStyle({fillColor: 'blue'});
			  poly.id = data.fai[p].id;
			  
			  drawnItems.addLayer(poly);
			  
		  }
	  }
	  
	  console.log( "ready!" );
	    
	    function init() {
        var bounds = new L.LatLngBounds(
        		//new L.LatLng(48.9355135, 2.3565533),
                //new L.LatLng(48.935910542, 2.3570680819));
        		new L.LatLng(<?=$latitude1?>, <?=$longitude1?>),
            new L.LatLng(<?=$latitude2?>, <?=$longitude2?>));
       map = L.map('map').fitBounds(bounds);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        var options = {
            minZoom: <?=$minZ?>,
            maxZoom: <?=$maxZ?>,
            opacity: 1.0,
            tms: true
        };
    	var base_url = "<?php echo $request->getBaseUrl(); ?>".split('/');
    	base_url.splice(base_url.length-1, 1);
    	var str = '';
    	for (var p in base_url) {
    		str += base_url[p]+'/';
    	}
    	//var contenant url pour geoloc
    	str = location.origin+str+'<?php echo $chemin; ?>';
        
        L.tileLayer(str+'/{z}/{x}/{y}.png', options).addTo(map);
	    }
	    init();
	    
	    var poly1 = L.polygon([[48.87371, 1.29234], [48.87385, 1.29242], [48.87391,  1.29252], [48.87369,   1.29260]]);
        
        poly1.setStyle({fillColor: 'red'});
        
        drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        
        drawnItems.addLayer(poly1);
        var drawControl = new L.Control.Draw({
     	   draw: {
     	    polygon: {
     	     shapeOptions: {
     	      color: 'red'
     	     },
     	    },
     	   polyline: {
       	     PolylineOptions: false
     	   },},
     	            edit: {
     	                featureGroup: drawnItems
     	            }
     	        });


     map.addControl(drawControl);

     map.on('draw:created', function (e) {
         var type = e.layerType,
             layer = e.layer;
         drawnItems.addLayer(layer);
         
         //alert(layer.toGeoJSON().toString());
         if (type === 'polygon') {
        	 var latings = layer.getLatLngs();
        	 var str='Votre polygone contient '+ latings.length+ ' points \n';
        	 contour_modif = Array();
        	 points = 0;
        	 for(var i=0; i<latings.length; i++) {
        		 contour_modif[i] = latings[i].lat + '-' +  latings[i].lng;
        		 points = i;
        	 }
        	 newPoly = layer;
        	 $('#popup_create').modal(); 
         }
         	
     });
     
     map.on('draw:edited', function (e) {
    	    var layers = e.layers;
    	    layers.eachLayer(function (layer) {
    	    	if (layer.categorie !== undefined) {
    	    		var latings = layer.getLatLngs();
    	           	
               	 	contour_modif = Array();
               	 	points = 0;
               	 	for(var i=0; i<latings.length; i++) {
               			 contour_modif[i] = latings[i].lat + '-' +  latings[i].lng;
               		 	points = i;
               	 	} 
               		contour_modif[points+1] = layer.id;
               	 	
               		var bon  = editPoly(layer.categorie);
    	    	}
    	    
    	    });
    	});
     
     map.on('draw:deleted', function (e) {
 	    var layers = e.layers;
 	    layers.eachLayer(function (layer) { 	
        	if (layer.categorie !== undefined) 
 	    		deletePoly(layer.id, layer.categorie);
 	    });
 	});
	    
     // Remove des balises a de class autre que polygon dans la barre de dessin
     /*
     $('a').remove('.leaflet-draw-draw-polyline');
     $('a').remove('.leaflet-draw-draw-rectangle');
     $('a').remove('.leaflet-draw-draw-circle');
     $('a').remove('.leaflet-draw-draw-marker');
     */
     
	});
    
   </script>

<!-- POPUP MODALE -->
<div class="modal fade" id="id-popup" tabindex="-1" role="dialog"
	aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true"
	data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
										<!-- lla croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" >&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<form method="" name="form_sitefouille" id="form_sitefouille"
					action="" role="form" class="form-horizontal">
					<fieldset>
<div id="madiv" style=""> 
<div style="float:left; width:50%">
	<input type="checkbox" id="checkAllUS" value="" name="checkAllUS" onchange="checkAll(this,'idus');"> Sélectionner toutes les US
<table>

<th>Liste US </th>

<?php foreach ($tab as $item) { ?>
<tr>
<td>
<input type="checkbox" id="<?php echo $item['id'];?>" value="" name="idus">
<label for="<?php echo $item['id'];?>" ><?php echo $item['identification'];?></label>
</td>
</tr>

<?php }?>
</table>
</div>

<div style="float:right; width:50%">
	<input type="checkbox" id="checkAllFai" value="" name="checkAllFai" onchange="checkAll(this,'idfai');"> Sélectionner tous les FAI
<table>

<th>Liste FAI </th>

<?php foreach ($fai as $item) { ?>
<tr>
<td>
<input type="checkbox" id="<?php echo $item['id'];?>" value="" name="idfai">

<label for="<?php echo $item['id'];?>" ><?php echo $item['identification'];?></label>
</td>
</tr>

<?php }?>
</table>
</div>
</div>

<div>
							<input class="btn btn-primary" type="submit" name="btSubmit"
								value="Valider" />
							<a class="btn btn-default" data-dismiss="modal"
								 aria-hidden="true"> retour </a>
						</div>
						<input type="checkbox" id="<?php echo $sf['id'];?>" value="" name="idsf">

						<label for="<?php echo $sf['id'];?>" >Afficher les contours du site</label>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>


<div class="modal fade" id="popup_create" tabindex="-1" role="dialog"
	aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true"
	data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
										<!-- lla croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<form method="" name="form_sitefouille" id="form_create"
					action="" role="form" class="form-horizontal">
					<fieldset>
<div id="madiv">
<div>
	<h4>Sélectionnez une catégorie</h4>
	<select name='categorie' id='categorie' style='width:100pt'>
		<option value="us"> US</option>
		<option value="fai">FAI</option>
		<option value="sf">Site fouillé</option>
	</select>
</div> 
<div id="form_us">
<h5>Saisissez le numéro d'une US</h5>
<!-- <label><?php echo $sf->get('nomabrege'); ?> .</label> -->
<!-- <label for="us_create">Saisissez le numéro d'une US</label> -->
<input type="text" id="us_create"/>
</div>

<div id="form_fai">
<h5>Saisissez l'identifiant d'un FAI</h5>
<input type="text" id="fai_create"/>
</div>

<div id="form_sf">

</div>

</div>

<div>
							<input class="btn btn-primary" type="submit" name="btSubmit"
								value="Valider" />
							<a class="btn btn-default" data-dismiss="modal"
								aria-hidden="true"> retour </a>
						</div>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>