<style>
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<!-- <link  rel="stylesheet" href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css" /> -->
<link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/css/leafletdraw/leaflet.draw.css" />
<!-- <link rel="stylesheet" href="leaflet-measure.css" /> -->

<div>
	
	<h2 class="page-header">
		Ajouter des points sur le Terrain en cliquant dessus
	</h2>
	<div style="float:left; width:50%; backgroung-color=green;" id="mapid" ></div>
	<div style="float:right; width:50%;">
		<center> 
			<h5>Table des coordonnées</h5>

			<table width=60% border=1 id='coor' border='1' >
				<tr>
					<th class="th_center" width=105px> X </th> 
					<th class="th_center" width=105px> Y </th> 
					<th class="th_center" width=150px> Latitude </th> 
					<th class="th_center" width=150px> Longitude </th> 
					<th class="th_center" width=150px> Altitude </th> 
					<th class="th_center" width=50px> Action </th>
				</tr>
			</table>
			<br/>
			<input class="btn btn-primary" type="submit" name="btSubmit" value="Valider" id="btn_georef"/>
			<a href="<?php echo $this->getRequest('Sitefouille', 'Telechargement', $sitefouille->getPrimary()); ?>" class="btn btn-default">retour</a>
		</center>
	 </div>
 </div>

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<!-- <script src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script> --> 
<script src="<?php echo $request->getBaseUrl(); ?>/js/leafletdraw/leaflet.draw.js"></script>
<!-- <script src="leaflet-measure.js"></script> -->
<script>
	
	var map = L.map('mapid', {
		crs: L.CRS.Simple,
		//center: [4000.0, 5751.0],
		minZoom: -5
	});

	//map.fitBounds(poly.getBounds());

	//var bounds = [[143806.8889912195,6253534.286590296], [143921.92802917134,6253331.407731295]];
	// Mantis 369 début
	//var bounds = [[0.0,0.0], [-<?php echo $image_width ?>, <?php echo $image_height ?>]];
	var southWest = L.latLng(0.0, 0.0),
        northEast = L.latLng(<?php echo $image_height ?>, <?php echo $image_width ?>),
	    bounds = L.latLngBounds(southWest, northEast);
	// Mantis 369 fin
	
	var base_url = "<?php echo $request->getBaseUrl(); ?>".split('/');
	base_url.splice(base_url.length-1, 1);
	var str = '';
	for (var p in base_url) {
		str += base_url[p]+'/';
	}
	//var contenant url pour geoloc
	str = location.origin+str+'geolocalisation/sitefouille/<?php echo $nomabrege_sitefouille ?>/<?php echo $image ?>';

	var image = L.imageOverlay(str, bounds); //.addTo(map);
	map.fitBounds(bounds);
	
	L.layerGroup([image]).addTo(map);


	var pix = Array();
	var values = Array();
	var points = null;
	var pointsTab = Array();

	var jsonObjects = Array()
	map.on('click', function(e) { 
		pix = xy(e.latlng.lat, e.latlng.lng);
		$('#id-popup').modal();
	})

	$(document).ready(function(){
		
		$('.leaflet-container').css('cursor','crosshair'); // changer le cursor hand grab en crosshair
		
		$('#btn_georef').click(function() {
			var tableau = document.getElementById("coor");
			var nb_row = tableau.getElementsByTagName("tr").length;
			if (nb_row<4) { //5
				alert('Choisissez au moins 3 points');	
			} else {			
				
				var jsonObj = {};

				for(var i = 0; i < values.length; i++){	
					jsonObj.x = values[i]['x'];
					jsonObj.y = values[i]['y'];
					jsonObj.latX = values[i]['latX'];
					jsonObj.lonY = values[i]['lonY'];
					jsonObj.altZ = values[i]['altZ'];
					
					jsonObjects.push(jsonObj);
					jsonObj = {};
	 			}
				
				// Envoie des coordonnees en ajax
				
				$.ajax({
					url : "<?php echo $this->getRequest('Sitefouille','TraitementCoords', array($id_sitefouille, $image));?>",
					type : "POST",
					async : true,
					data : {tabCoords : JSON.stringify(jsonObjects)},
					//dataType: "json",
					success : function(data, statut){
						alert(data);
						$('#chargement').modal('hide');
						document.location = "<?php echo $this->getRequest('Sitefouille', 'Telechargement', $sitefouille->getPrimary()) ;?>";
					},
					error: function(resultat, statut, erreur){
						$('#chargement').modal('hide');
						alert('Problème d\'accès au serveur...\nVeuillez réessayer ultérieurement: '+erreur);
					}
				});
				$('#chargement').modal();
				//document.location = "<?php echo $this->getRequest('Sitefouille', 'Telechargement', $sitefouille->getPrimary()) ;?>";
			}
		});
		
		$('#coorForm').on('submit', function(e){
			// Mantis 369 début
			//setCoor(latX);
			setCoor();
			// Mantis 369 fin
			$('#id-popup').modal("hide");
			return false;
		});
	});

	function setCoor(){
	
		var tableau = document.getElementById("coor");
		var ligne = tableau.insertRow(-1); 
		var Cell;
		var altZ = document.getElementById('altZ').value;
		var lonY = document.getElementById('lonY').value;
		var latX = document.getElementById('latX').value; 
		
			
		Cell = ligne.insertCell(0);
		Cell.style.padding = "10px";
		Cell.style.textAlign="center";
		Cell.innerHTML = pix['x'];
		
		Cell1 = ligne.insertCell(1);
		Cell1.style.padding = "10px";
		Cell1.style.textAlign="center";
		// Mantis 369 début
		//Cell1.innerHTML = pix['y'];
		Cell1.innerHTML = <?php echo $image_height ?> - pix['y'];
		// Mantis 369 fin
		
		Cell2 = ligne.insertCell(2);
		Cell2.style.padding = "10px";
		Cell2.style.textAlign="center";
		Cell2.innerHTML = latX;
		
		Cell3 = ligne.insertCell(3);
		Cell3.style.padding = "10px";
		Cell3.style.textAlign="center";
		Cell3.innerHTML = lonY;
		
		Cell4 = ligne.insertCell(4);
		Cell4.style.padding = "10px";
		Cell4.style.textAlign="center";
		Cell4.innerHTML = altZ;
		
		Cell5 = ligne.insertCell(5);
		Cell5.style.padding="10px";
		Cell5.style.textAlign="center";
		var btnSupp = document.createElement("span");
		btnSupp.style.fontSize="18px";
		btnSupp.className = "glyphicon glyphicon-remove-circle alert-danger";
		btnSupp.onclick = function(){suppressionCoor(ligne.rowIndex)};
		Cell5.appendChild(btnSupp);
		
		document.getElementById('lonY').value="";
		document.getElementById('latX').value="";
		document.getElementById('altZ').value="";
		
		points = L.marker(arrangeCoor(pix['x'], pix['y'])).addTo(map).bindPopup('latitude: '+latX +'<br> longitude: ' + lonY + ' <br> altitude: ' + altZ);
		pointsTab[ligne.rowIndex-1] = points;
		
		var value = Array();
		value['x'] = pix['x'];
		// Mantis 369 début
		//value['y'] = pix['y'];
		value['y'] = <?php echo $image_height ?> - pix['y'];
		// Mantis 369 fin
		value['latX'] = latX; value['lonY'] = lonY; value['altZ'] = altZ;
		values[ligne.rowIndex - 1] = value;

	}

	var latYX = L.latLng;

	var arrangeCoor = function(x, y) {
		if (L.Util.isArray(x)) {    // When doing xy([x, y]);
			return latYX(x[1], x[0]);
		}
		return latYX(y, x);  // When doing xy(x, y);
	};

	function suppressionCoor(index) {
		document.getElementById('coor').deleteRow(index);
		map.removeLayer(pointsTab[index-1]);
		//values.splice(index, 1);
	}

	//var yx = L.latLng;
	// Mantis 369 début
	//var yx = Array();
	var yx = L.point;
	// Mantis 369 fin

	var xy = function(x, y) {
		if (L.Util.isArray(x)) {    // When doing xy([x, y]);
			return yx(x[1], x[0]);
		}
		// Mantis 369 début
		/*
		pix['x'] = y;
		pix['y'] = x;
		return pix;
		*/
		return yx(y, x);  // When doing xy(x, y);
		// Mantis 369 fin
	};

	/*
	var divPos = {};
	var offset = $("#mapid").offset();
	$(document).onclick(function(e){
		divPos = {
			left: e.pageX - offset.left,
			top: e.pageY - offset.top
		};
		alert('dedans');
	});
	*/

	/*
	var drawnItems = new L.FeatureGroup();
	map.addLayer(drawnItems);

	var drawControl = new L.Control.Draw({
		   draw: {
			polygon: {
			 shapeOptions: {
			  color: 'red'
			 },
			},
		   },
					edit: {
						featureGroup: drawnItems
					}
				});


	map.addControl(drawControl);

	map.on('draw:created', function (e) {
		var type = e.layerType,
			layer = e.layer;
		drawnItems.addLayer(layer);
	});
	*/

</script>


<!-- POPUP MODALE -->
<div class="modal fade" id="id-popup" tabindex="-1" role="dialog" aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true" data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<!-- lla croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<form method="" action="" name="form_sitefouille" id='coorForm' action="" role="form" class="form-horizontal" >
					<fieldset>
						<div class="panel-group" id="accordion" role="" aria-multiselectable="true">
							<p>ESPG: 3857</p>
							<table>
								<tr>
									<td><p> latitude :</td><td> <input type="text" id="latX" name="coorX" value="" /></td></p>
								</tr>
								<tr>
									<td><p> longitude :</td><td> <input type="text" id="lonY" name="coorY" value="" /></td></p>
								</tr>
								<tr>
									<td><p> altitude : </td><td> <input type="text" id="altZ" name="coorZ" value="" /></td></p>
								</tr>
							</table>
						</div>
						<div>
							<input class="btn btn-primary" type="submit" name="btSubmit" value="Valider" />
							<a class="btn btn-default" data-dismiss="modal" aria-hidden="true"> retour </a>
						</div>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>



<div class="modal fade" id="chargement" tabindex="-1" role="dialog" aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true" data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<!-- lla croix de fermeture de la popup -->
					<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
				</h4>
			</div>
			<div class="modal-body">
				<h3> Chargement...</h3>
				
				
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>
