<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($sitefouilles, 'pager_sitefouille');

$sitefouilles = $pager->getStatement();

?>

<div class="table-responsive">
	<div id="optiontools"></div>

	<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Sitefouille</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('nom'); ?></td>
			<td><?php echo $pager->getSortLink('nomabrege'); ?></td>
			<td><?php echo $pager->getSortLink('numerosite'); ?></td>
			<td><?php echo $pager->getSortLink('description'); ?></td>
			<td><?php echo $pager->getSortLink('departement'); ?></td>
			<td><?php echo $pager->getSortLink('commune'); ?></td>
			<td><?php echo $pager->getSortLink('adresse'); ?></td>
			<td><?php echo $pager->getSortLink('anneecadastre'); ?></td>
			<td><?php echo $pager->getSortLink('sectionparcelle'); ?></td>
			<td><?php echo $pager->getSortLink('proprietaire'); ?></td>
			<td><?php echo $pager->getSortLink('protectionjuridique'); ?></td>
			<td><?php echo $pager->getSortLink('surfaceestime'); ?></td>
			<td><?php echo $pager->getSortLink('commentaire'); ?></td>
			<td><?php echo $pager->getSortLink('lambert_x'); ?></td>
			<td><?php echo $pager->getSortLink('lambert_y'); ?></td>
			<td><?php echo $pager->getSortLink('altitude'); ?></td>
			<td colspan="2">
				<a href="<?php echo $this->getRequest('Sitefouille', 'add'); ?>" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter" ></span>
				</a>
			</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($sitefouilles as $sitefouille): ?>
		<tr>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('nom', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('nomabrege', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('numerosite', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('description', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('departement', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('commune', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('adresse', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('anneecadastre', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('sectionparcelle', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('proprietaire', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('protectionjuridique', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('surfaceestime', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('commentaire', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('lambert_x', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('lambert_y', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><?php echo $sitefouille->get('altitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><a href="<?php echo $this->getRequest('Sitefouille', 'edit', $sitefouille->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($sitefouilles); ?>><a href="<?php echo $this->getRequest('Sitefouille', 'delete', $sitefouille->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="19"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="19">
				
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>