<?php					
	// appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();

?>

<h2 class="page-header">Exporter photos</h2>
<form method="post" name="form_sitefouille"
	action="<?php echo $this->getRequest('Sitefouille', 'photoexportform'); ?>"
	enctype="multipart/form-data" role="form" class="form-horizontal">
	<fieldset>
		<div class="panel-group" id="accordion" role=""
			aria-multiselectable="true">
			<!--<input type="hidden" name="MAX_FILE_SIZE" value="1234500000000" />-->
			<input type="file" name="photos[]" multiple />
		</div>
		<div>
			<input class="btn btn-primary" type="submit" name="btSubmit"
				value="Envoyer" /> <a
				href="<?php echo $this->getRequest('Sitefouille', 'index'); ?>"
				class="btn btn-default"> <?php echo $filter_no_html->filter( $i18n -> say('back_form') ); ?>
			</a>
		</div>
	</fieldset>
</form>




