
<form method="post" action="" role="form" class="form-inline">
	<select id="<?php echo $id_select ; ?>"
			name="<?php echo $id_select ; ?>"
			onchange="submit();">
			<option value="">Tous les sites</option> <!-- jfb 2016-06 mantis 318 -->
		<?php foreach($sf_list as $key => $value){ ?>
			<option
					value="<?php echo $key; ?>"
					<?php echo ($current_sf == $key)?"selected":""; ?>><?php echo $value; ?></option>
		<?php } ?>
	</select>
</form>

  