<?php
	//appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();
?>

<script type='text/javascript'>
	function setClickableRow() {
		var clikedtable = document.getElementById("table_sitefouilles_index");
		$("clikedtable .table-clickable-row").each(function() {
			var redirect = $(this).attr('href')
			$(".table-row-data", $(this)).click(function() {
				alert("coucou");
				window.open(redirect);
			})
		})
	}
</script>

<!-- CSS pour les éléments multimédias -->
<link rel="stylesheet"
	href="<?php echo $request->getBaseUrl(); ?>/css/blueimp-gallery.min.css">
<!-- <script src="<?php //echo $request->getBaseUrl(); ?>/2.0/js/dialog/jquery-ui.min.js"></script> -->

<h2 class="page-header">
	<?php echo $filter_no_html->filter( $i18n -> say('show_form')).' '.$filter_no_html->filter( $i18n -> say('sitefouille')).' : '.
	$filter_no_html->filter($helper_form->getElement('nom')->get('value')) ; ?>
</h2>
<div class="table-detail panel-group" id="accordion" role="tablist"
	aria-multiselectable="true">
	<!-- Panel Detail - Start -->
	<div id="panel_detail" class="panel panel-primary">

		<div class="panel-heading" role="tab" id="headingDetail">
			<h4 class="panel-title">
				<span class="icon-address" aria-hidden="true"></span>&nbsp; <a
					role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapseDetail" aria-expanded="true"
					aria-controls="collapseDetail"> <?php echo $filter_no_html->filter( $i18n -> say('identification') );?>
				</a>
			</h4>
		</div>

		<div id="collapseDetail" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="headingDetail">
			<div class="panel-body">
				<table>
					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('nom')->get('label');?> <em
							style="display: block"> <?php echo $filter_no_html->filter( $i18n -> say('sitefouille') ); ?>
						</em>
						</th>
						<td>
							<?php echo $helper_form->getElement('nom')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('nomabrege')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('nomabrege')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('numerosite')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('numerosite')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('description')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('description')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('adresse')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('adresse')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('commune')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('commune')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('departement')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('departement')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('anneecadastre')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('anneecadastre')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('sectionparcelle')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('sectionparcelle')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('proprietaire')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('proprietaire')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('protectionjuridique')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('protectionjuridique')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('surfaceestime')->get('label');?>
							<em style="display: block">m&sup2;</em>
						</th>
						<td>
							<?php echo $helper_form->getElement('surfaceestime')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('commentaire')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('commentaire')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('lambert_x')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('lambert_x')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('lambert_y')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('lambert_y')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('altitude')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('altitude')->get('value');?>
						</td>
					</tr>

					<tr class="tr-impair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('datation_debut')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('datation_debut')->get('value');?>
						</td>
					</tr>

					<tr class="tr-pair">
						<th class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
							<?php echo $helper_form->getElement('datation_fin')->get('label');?>
						</th>
						<td>
							<?php echo $helper_form->getElement('datation_fin')->get('value');?>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Panel Detail - End -->

	<!-- Panel Croquis - Start -->
	<?php if(!empty($idCroquis[0])){  ?>
	<div id="panel_croquis" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingCroquis">
			<h4 class="panel-title">
				<span class="icon-time" aria-hidden="true"></span>&nbsp; <a
					class="collapsed" role="button" data-toggle="collapse"
					data-parent="#accordion" href="#collapseCroquis"
					aria-expanded="false" aria-controls="collapseCroquis"> <?php echo $filter_no_html->filter( $i18n -> say('releve') );?>
				</a>
			</h4>
		</div>

		<div id="collapseCroquis" class="panel-collapse collapse"
			role="tabpanel" aria-labelledby="headingCroquis">
			<div class="panel-body">
				<div id="carousel-example-generic" class="carousel slide"
					data-ride="carousel" data-interval="false">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<?php for($i=0; $i<sizeof($idCroquis); $i++){ ?>
						<li data-target="#carousel-example-generic"
							data-slide-to="<?php echo $i ?>" class="active"></li>
						<?php } ?>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<?php for($i=0; $i<sizeof($idCroquis); $i++){ 
								//Recuperation du file_name
								$croquis = $helper_model->getTable('Model_Croquis')->fetchAll()->where('id="'.$idCroquis[$i].'"')->toRow(); ?>
						<div class="item">
							<img class="img-responsive"
								src="<?php echo ('http://'.Yab_Loader::getInstance()->getConfig()['ip'].':8084/croquis/show/'.$idCroquis[$i]); ?>"
								alt="Problème IP" />
							<div id="label-croquis" class="carousel-caption">
								<?php echo $croquis['file_name']; ?>
							</div>
						</div>
						<?php
								if($i == 0){ ?>
						<script>
							$(".item").addClass("active");
						</script>
						<?php } } ?>
					</div>

					<!-- Controls -->
					<a class="right carousel-control" href="#carousel-example-generic"
						role="button" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="">Next</span>
					</a> <a class="left carousel-control" href="#carousel-example-generic"
						role="button" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="">Previous</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>
	<!-- Panel Croquis - End -->

	<!-- Panel Multimedia - Start -->
	<div id="panel_media" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingMedia">
			<h4 class="panel-title">
				<span class="icon-time" aria-hidden="true"></span>&nbsp;
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
					<?php echo $filter_no_html->filter( $i18n -> say('multimedia') ); ?>
				</a>
			</h4>
		</div>

		<div id="collapseMedia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMedia">
			<div class="panel-body media-width">
				<div class="panel-body-media">
					<?php echo $this->getResponse('Mediatheque', 'Show', array('entity' => 'Sitefouille', 'entity_id' => $sf_id) ); ?>
				</div>
			</div>
		</div>
	</div>

	<!-- Panel Multimedia - End -->

	<!-- Panel Photogrammetry - Start -->
	<div id="panel_photo" class="panel panel-primary">

		<div class="panel-heading" role="tab" id="headingPhoto">
			<h4 class="panel-title">
				<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapsePhoto" aria-expanded="true"
					aria-controls="collapsePhoto"> <?php echo $filter_no_html->filter( $i18n -> say('photogrammetrie') );?>
				</a>
			</h4>
		</div>

		<div id="" class="panel-collapse collapse in" role="tabpanel"
			aria-labelledby="">
			<div class="panel-body">
				<table id="table_sitefouilles_index"
					class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
					<tbody>
						<?php foreach($photogrammetries as $photogrammetrie){ ?>
						<tr
							href="<?php echo
							$this->getRequest('Sitefouille', 'unzip',array($id,
							$photogrammetrie) ); ?>"
							title="<?php echo $filter_no_html->filter( $i18n->say('show_3d')) ; ?>"
							class="table-clickable-row">
							<td class="table-row-data">
								<?php echo $photogrammetrie?>
							</td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Panel Photogrammetry - End -->


</div>

<div>
	<a href="<?php echo $this->getRequest('Sitefouille', 'index'); ?>"
		class="btn btn-default"> <?php echo $filter_no_html->filter( $i18n -> say('back_form') ); ?>
	</a>
</div>

<!-- JS pour les éléments multimédias -->
<script src="<?php echo $request->getBaseUrl(); ?>/js/jquery.blueimp-gallery.min.js"></script>

<?php $this->getLayout()->setEnabled(true); ?>
