<script type='text/javascript'>
	function confirmer(url, genre) {
		if(confirm('Veuillez Cliquer sur "OK" pour confirmer la suppression.')) {
			document.location.href = url ;
		}	
		/*if (genre=='photo') {
			if(confirm('Veuillez Cliquer sur "OK" pour confirmer la suppression.')) {
				document.location.href = url ;
			}	
		} else {
			alert('Cette fonction est indisponible ');
		}*/
		
	}
</script>

<div class="table-responsive">
	<div id="optiontools"></div>

	<table id="table_sitefouilles_index" class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
		<caption>Sitefouille <?php echo $nomabrege_sitefouille; ?></caption>
		<thead>
			<tr class="headings"> 
				<td>Nom</td>
				<td>Date</td>
				<td colspan="2" align="center"><span title="Ajouter des Ortophotos" class="glyphicon glyphicon-upload" style="font-size: 32px;"data-toggle="modal" data-target="#id-popup"></span></td>
			</tr>
		</thead>

		<tbody>
			<?php
				if(is_dir($dir)){
					if($dossier = opendir($dir))
					{
						while(false !== ($fichier = readdir($dossier)))
						{
						
							if($fichier != '.' && $fichier != '..') {
								$dates = ExtractOrtophotoDate_Name($fichier);
								$rep_image = "ortophoto";		
							?>
						
								<tr title="<?php echo $dates[1] ?>" class="table-clickable-row">
									<td><?php echo $rep_image.'_'.$dates[1] ?></td>
									<td><?php echo $dates[0]; ?></td>
									<td>
										<a href="<?php echo $this->getRequest('Sitefouille', 'Georef', array($id_sitefouille, $rep_image, $fichier));?>"><span class="glyphicon glyphicon-certificate" style="font-size: 18px" alt="Géolocaliser" title="Géolocaliser"></span></a>
										</td>
									<td class="table-row-option"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px"
									onclick="confirmer('<?php echo $this->getRequest('Sitefouille', 'deleteOrthoPhoto', array($id_sitefouille, $rep_image, $fichier)); ?>', 'photo');"
									alt="Supprimer" title="Supprimer"></span></td>
								</tr>

							<?php }
						
						}
						closedir($dossier);		
					}					
				}
					
			?>

			<?php
				if(is_dir($dir_carte)) {
					if($dossier = opendir($dir_carte))
					{
						while(false !== ($fichier = readdir($dossier)))
						{
							if($fichier != '.' && $fichier != '..') {
								$dates = ExtractOrtophotoDate_Name($fichier);
								$rep_image = "carte";							
								
							?>
										
								<tr title="<?php echo $dates[1]; ?>" class="table-clickable-row">
									<td><?php echo $rep_image.'_'.$dates[1]; ?></td>
									<td><?php echo $dates[0]; ?></td>
									<td>
										<a href="<?php echo $this->getRequest('Sitefouille', 'Contours', array($id_sitefouille, $rep_image, $fichier));?>"><span class="glyphicon glyphicon-certificate" style="font-size: 18px" alt="Editer" title="Editer"></span></a></td>
									<td class="table-row-option"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px"
									onclick="confirmer('<?php echo $this->getRequest('Sitefouille', 'deleteCarte', array($id_sitefouille, $rep_image, $fichier)); ?>', 'carte');"
									alt="Supprimer" title="Supprimer"></span></td>
								</tr>

							<?php }
								
						}
						closedir($dossier);
					}
				} 	
			?>

		</tbody>
	</table>
</div> 

<?php
	function ExtractOrtophotoDate_Name($fichiers){
		$fichier = explode('.', $fichiers);
		$date_heure = substr($fichier[0],-16,16);		

		$heures = substr($date_heure,-6,6);
		$dates = str_replace($heures, '', $date_heure);		
		
		$date_img = str_replace('-', '/', $dates);
		
		//controle format de la date à afficher
		if(!preg_match("/(\d{2})\/(\d{2})\/(\d{4})$/" , $date_img ))
		{
			$date_img = "";
			$nom_img = $fichiers;
		}
		else{
			$nom_img = str_replace($dates, '', $fichiers);
			$nom_img = str_replace($heures, '', $nom_img);
			$nom_img = str_replace('_du_', '', $nom_img);		
		}

		return [$date_img, $nom_img];
	}
?>

<div><a href="<?php echo $this->getRequest('Sitefouille', 'index'); ?>" class="btn btn-default">retour</a></div>

<!-- POPUP MODALE -->
<div class="modal fade" id="id-popup" tabindex="-1" role="dialog"
	aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true"
	data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<!-- la croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<form method="post" name="form_sitefouille" action="<?php echo $this->getRequest('Sitefouille', 'AddOrtophoto', $sitefouille->getPrimary()); ?>"
					enctype="multipart/form-data" role="form" class="form-horizontal">
					<fieldset>
						<div class="panel-group" id="accordion" role="" aria-multiselectable="true">
							<!-- <input type="hidden" name="id" value="<?php //echo $sitefouille->get('id'); ?>" /> -->
							<input type="file" name="photos[]" multiple />
						</div>
						<div>
							<input class="btn btn-primary" type="submit" name="btSubmit" value="ajouter" />
							<a class="btn btn-default" data-dismiss="modal" aria-hidden="true"> retour </a>
						</div>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>
