
<?php  
	$filter_html = new Yab_Filter_Html();

	if (count($associations) == 0 && count($associationsInverses) == 0) {
echo "<span style='padding-left:40%;'>Cet élément n'a pas d'associations.</span>" ;		
exit ;
	}
?>

	<div style="overflow-x:hidden; ooverflow-y:auto; max-height:400px;">
		<table class="formulaire-table">
      			<caption style="text-align:center;" class="table_head gestion_bordures txt-position">Liste des associations</caption>
			<tr>
				<th colspan="2" style="text-align:center;" class="formulaires-bordures categories_th_taille color">Eléments associés</th>
				<th colspan="2" class="formulaires-bordures categories_th_taille color"></th>
			</tr>
			<tr>
				<th style="width:8px;text-align:center;" class="formulaires-bordures categories_th_taille color">Avant traitement</th>
				<th style="width:8px;text-align:center;" class="formulaires-bordures categories_th_taille color">Après traitement</th>
				<th style="width:5px;text-align:center;" class="formulaires-bordures categories_th_taille color">Type d'association</th>
				<th style="text-align:center;"  class="formulaires-bordures categories_th_taille color">Traitement</th>
			</tr>
			<!-- Liste des associations -->
			<?php foreach($associations as $association) {
$er_ancien_id = $association->get("er_ancien_id") ;				
$er_nouveau_id = $association->get("er_nouveau_id") ;
					$commentaire = $association->get("commentaire", $filter_html) ;
					$typeasso_nom = $association->get("typeasso_nom", $filter_html) ;

$er_ancien_nom = (!is_null($association->get("er_ancien_nom"))) ? $association->get("er_ancien_nom", $filter_html) : "Elément isolé" ;
$er_nouveau_nom = (!is_null($association->get("er_nouveau_nom"))) ? $association->get("er_nouveau_nom", $filter_html) : "Elément isolé" ;
 			?>
			<tr>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $er_ancien_nom ; ?></span>
				</td>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $er_nouveau_nom ; ?></span>
				</td>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $typeasso_nom ; ?></span>
				</td>
				<td style="text-align:center;" class="formulaires-bordures categories_td_taille color txt-position-15">
					<?php 
						echo $association->get("traitement_nom", $filter_html) . " - "
							. Plugin_Fonctions::convertitDateUsFr($association->get("debut", $filter_html)) . " - "
							. Plugin_Fonctions::convertitDateUsFr($association->get("fin", $filter_html)) . "<br/>"
							. $association->get("lieu", $filter_html) ;  
					?>
				</td>
			</tr>
			<tr>
				<th style="width:8px;text-align:center;" class="formulaires-bordures categories_th_taille color">Commentaire</th>
				<td class="formulaires-bordures categories_td_taille color txt-position-15" colspan="3">
					<span><?php echo $commentaire ; ?></span>
				</td>
			</tr>
			<?php } ?>
			<!-- Liste des associations inverses -->
						<?php foreach($associationsInverses as $associationInverse) {
$er_ancien_id = $associationInverse->get("er_ancien_id") ;				
$er_nouveau_id = $associationInverse->get("er_nouveau_id") ;
					$commentaire = $associationInverse->get("commentaire", $filter_html) ;
					$typeasso_nom = $associationInverse->get("typeasso_nom", $filter_html) ;

$er_ancien_nom = (!is_null($associationInverse->get("er_ancien_nom"))) ? $associationInverse->get("er_ancien_nom", $filter_html) : "Elément isolé" ;
$er_nouveau_nom = (!is_null($associationInverse->get("er_nouveau_nom"))) ? $associationInverse->get("er_nouveau_nom", $filter_html) : "Elément isolé" ; 
 			?>
			<tr>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $er_ancien_nom ; ?></span>
				</td>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $er_nouveau_nom ; ?></span>
				</td>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
          					<span><?php echo $typeasso_nom ; ?></span>
				</td>
				<td style="text-align:center;" class="formulaires-bordures categories_td_taille color txt-position-15">
					<?php 
						echo $associationInverse->get("traitement_nom", $filter_html) . " - "
							. Plugin_Fonctions::convertitDateUsFr($associationInverse->get("debut", $filter_html)) . " - "
							. Plugin_Fonctions::convertitDateUsFr($associationInverse->get("fin", $filter_html)) . "<br/>"
							. $associationInverse->get("lieu", $filter_html) ;  
					?>
				</td>
			</tr>
			<tr>
				<th style="width:8px;text-align:center;" class="formulaires-bordures categories_th_taille color">Commentaire</th>
				<td class="formulaires-bordures categories_td_taille color txt-position-15">
					<span><?php echo $commentaire ; ?></span>
				</td>
			</tr>
			<?php } ?>
		</table>
	</div>
	
<!-- Fin partie modification -->