<?php					
	// appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();
	?>
<script type='text/javascript'>
	var sZeroRecords = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_error')) ; ?>"
	var sSearch = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_label')) ; ?> :"
</script>
<script
	src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/table_module.js"></script>
<script type='text/javascript'>
function setClickableRow() {
    $("table .table-clickable-row").each(function () {
        var redirect = $(this).attr('href')
        $(".table-row-data", $(this)).click(function () {
            window.open(redirect);
        })
    })
}
</script>
<div class="table-responsive">
	<div id="optiontools"></div>
	<div id="table_elementrecueillis_index_wrapper">
		<table id="table_elementrecueillis_index"
			class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
			<caption>
				<?php echo $filter_no_html->filter( $i18n -> say('photogrammetrie'))." ".$filter_no_html->filter( $i18n -> say('elementrecueilli')).' : '.
	$filter_no_html->filter($helper_form->getElement('numero')->get('value'))." / ".$nomZip ; ?>
			</caption>
			<thead>
				<tr class="headings">
					<th>Objet(s) 3D</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($models as $model){ ?>
				<tr href="<?php echo $this->getRequest('Elementrecueilli', 'Model',array($id, $nomZip, $model) ); ?>"
					title="<?php echo $filter_no_html->filter( $i18n->say('show_3d')) ; ?>"
					class="table-clickable-row">
					<td class="table-row-data">
						<?php echo $model ?>
					</td>
					<td class="table-row-data"></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>
<div style="float: left; padding-bottom: 10px; padding-top: 10px">
	<span> <a
		href="<?php echo $this->getRequest('Elementrecueilli', 'gestionphoto',array($id)); ?>"
		class="btn btn-default"> <?php echo $filter_no_html->filter( $i18n -> say('back_form')) ; ?>
	</a>
	</span>
</div>