<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($topo_sfs, 'pager_topo_sf');

$topo_sfs = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Topo_Sf</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('sitefouille_id'); ?></td>
			<td><?php echo $pager->getSortLink('topo_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($topo_sfs as $topo_sf): ?>
		<tr>
			<td<?php echo $pager->getClass($topo_sfs); ?>><?php echo $topo_sf->get('sitefouille_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_sfs); ?>><?php echo $topo_sf->get('topo_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_sfs); ?>><a href="<?php echo $this->getRequest('Topo_Sf', 'edit', $topo_sf->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($topo_sfs); ?>><a href="<?php echo $this->getRequest('Topo_Sf', 'delete', $topo_sf->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Topo_Sf', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>