<?php					
	// appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();
	?>
<script type='text/javascript'>
	var sZeroRecords = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_error')) ; ?>"
	var sSearch = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale_label')) ; ?> :"
</script>
<script
	src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/table_module.js"></script>
<script type='text/javascript'>
function setClickableRow() {
    $("table .table-clickable-row").each(function () {
        var redirect = $(this).attr('href');
        $(".table-row-data", $(this)).click(function () {
            window.location.href = redirect;
        })
    })
}
function confirmer(url) {  // jfb 2016-04-13
	if (confirm('Veuillez Cliquer sur "OK" pour confirmer la suppression.')) {
		document.location.href = url ;
	}
}
</script>

<div class="table-responsive">
	<div id="optiontools"></div>
	<div id="table_fais_index_wrapper">
		<table id="table_fais_index"
			class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
			<caption>
				<?php echo $filter_no_html->filter( $i18n -> say('photogrammetrie'))." ".$filter_no_html->filter( $i18n -> say('fai')).' : '.
	$filter_no_html->filter($helper_form->getElement('identification')->get('value')) ; ?>
			</caption>
			<thead>
				<tr class="headings">
					<th>
						<?php echo $filter_no_html->filter( $i18n->say('sitefouille_nom')) ; ?>
					</th>
					<th>Date</th>
					<th colspan="2" align="center"><span
						class="glyphicon glyphicon-upload" style="font-size: 32px;"
						alt="<?php echo $filter_no_html->filter( $i18n -> say('send3d')) ; ?>"
						title="<?php echo $filter_no_html->filter( $i18n -> say('send3d')) ; ?>"
						data-toggle="modal" data-target="#id-popup"></span></th>

				</tr>
			</thead>
			<tbody>
				<?php foreach($photogrammetries as $photogrammetrie){ ?>
				<tr
					href="<?php echo $this->getRequest('Fai', 'unzip',array($id, $photogrammetrie) ); ?>"
					title="<?php echo $filter_no_html->filter( $i18n->say('show_3d')) ; ?>"
					class="table-clickable-row">
					<td class="table-row-data">
						<?php echo $photogrammetrie?>
					</td>

					<td class="table-row-data"></td>

					<td>
						<a href="<?php echo $this->getRequest('Fai', 'downloadmodel',array($id, $photogrammetrie) ); ?>"
						download><span class="glyphicon glyphicon-download"
							style="font-size: 18px;"
							alt="<?php echo $filter_no_html->filter( $i18n->say('download')) ; ?>"
							title="<?php echo $filter_no_html->filter( $i18n->say('download')) ; ?>">
						</span></a></td>

					<td ><span
						class="glyphicon glyphicon-remove-circle alert-danger"
						style="font-size: 18px;"
						onclick="confirmer('<?php echo
							$this->getRequest('Fai', 'unlinkmodel',array($id,
							$photogrammetrie) ); ?>');"
						alt="Supprimer" title="Supprimer"></span></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>
<div style="float: left; padding-bottom: 10px; padding-top: 10px">
	<span> <a
		href="<?php echo $this->getRequest('Fai', 'index'); ?>"
		class="btn btn-default"> <?php echo $filter_no_html->filter( $i18n -> say('back_form')) ; ?>
	</a>
	</span>
</div>

<!-- POPUP MODALE -->
<div class="modal fade" id="id-popup" tabindex="-1" role="dialog"
	aria-labelledby="titrePopUp" aria-hidden="true" data-backdrop="true"
	data-keyboard="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<h4 class="modal-title" id="titrePopUp">
					<?php echo $filter_no_html->filter( $i18n -> say('select3d')) ; ?>
					<!-- lla croix de fermeture de la popup -->
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</h4>
			</div>
			<div class="modal-body">
				<div style="font-size: 12px;">
					<i> <strong>Note :</strong> <?php echo $filter_no_html->filter( $i18n -> say('upload_model_note')) ; ?></i>
				</div>
				<br>
				<form method="post" name="form_fai"
					action="<?php echo $this->getRequest('Fai', 'exportmodeleform'); ?>"
					enctype="multipart/form-data" role="form" class="form-horizontal">
					<fieldset>
						<div class="panel-group" id="accordion" role=""
							aria-multiselectable="true">
							<!--<input type="hidden" name="MAX_FILE_SIZE" value="1234500000000" />-->
							<input class="" type="file" name="photos[]" /> <input
								type="hidden" name="id" value="<?php echo $id;?>" />
						</div>
						<div>
							<input class="btn btn-primary" type="submit" name="btSubmit"
								value="<?php echo $filter_no_html->filter( $i18n -> say('ajouter') ); ?>" />
							<a class="btn btn-default" data-dismiss="modal"
								aria-hidden="true"> <?php echo $filter_no_html->filter( $i18n -> say('back_form') ); ?>
							</a>
						</div>
					</fieldset>
				</form>
			</div>
			<!--<div class="modal-footer"></div>-->
		</div>
	</div>
</div>