<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($synchronisations, 'pager_synchronisation');

$synchronisations = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Synchronisation</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('synchro1_id'); ?></td>
			<td><?php echo $pager->getSortLink('synchro2_id'); ?></td>
			<td><?php echo $pager->getSortLink('incertitude'); ?></td>
			<td><?php echo $pager->getSortLink('synchrotype_id'); ?></td>
			<td><?php echo $pager->getSortLink('observation'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($synchronisations as $synchronisation): ?>
		<tr>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('synchro1_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('synchro2_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('incertitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('synchrotype_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('observation', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><a href="<?php echo $this->getRequest('Synchronisation', 'edit', $synchronisation->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><a href="<?php echo $this->getRequest('Synchronisation', 'delete', $synchronisation->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="7">
				<a href="<?php echo $this->getRequest('Synchronisation', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>