<?php


	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
  $pager = new Yab_Helper_Pager($synchronisations, 'pager_synchronisation');

  // $synchronisations = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Synchronisation</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('us_identification'); ?></td>
			<td><?php echo $pager->getSortLink('us_synchro_identification'); ?></td>
			<td><?php echo $pager->getSortLink('incertitude'); ?></td>
			<td><?php echo $pager->getSortLink('type_synchro'); ?></td>
			<td><?php echo $pager->getSortLink('observation'); ?></td>
		</tr>
	</thead>
	<tbody>
	<?php 
    foreach($synchronisations as $synchronisation):
    
      $us_id = $synchronisation->get('us_id');
			$observation =	$synchronisation->get('observation', $filter_html); 
			$incertitude = $synchronisation->get('incertitude' );
  
  ?>
		<tr>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('us_identification', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('us_synchro_identification', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('incertitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>><?php echo $synchronisation->get('type_synchro', $filter_html); ?></td>
			<td<?php echo $pager->getClass($synchronisations); ?>>
  			<?php if (!empty($observation) ) { ?>
        <span
          id="observation_<?php echo $us_id ; ?>"
          class="glyphicon glyphicon-comment"
          data-toggle="popover"
          data-container="body"
          data-content="<?php echo $observation ; ?>"            
          data-placement="right"
          style="font-size: 18px; cursor:pointer;"
        ></span>        
    	<?php } ?>				
      <?php echo $synchronisation->get('observation', $filter_html); ?>
      </td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="7">
				<a href="<?php echo $this->getRequest('Synchronisation', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>