<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($phasechronos, 'pager_phasechrono');

$phasechronos = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Phasechrono</caption>
	<thead>
		<tr>
			<th><?php echo $pager->getSortLink('id'); ?></th>
			<th><?php echo $pager->getSortLink('identification'); ?></th>
			<th><?php echo $pager->getSortLink('description'); ?></th>
			<th><?php echo $pager->getSortLink('datationdebutbasse'); ?></th>
			<th><?php echo $pager->getSortLink('datationdebuthaute'); ?></th>
			<th><?php echo $pager->getSortLink('datationfinbasse'); ?></th>
			<th><?php echo $pager->getSortLink('datationfinhaute'); ?></th>
			<th><?php echo $pager->getSortLink('episodeurbain_id'); ?></th>
			<td colspan="2" align="center">
        <a href="<?php echo $this->getRequest('Phasechrono', 'add'); ?>">
          <span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"></span>  
        </a>
      </td>  
		</tr>
	</thead>
	<tbody>
	<?php foreach($phasechronos as $phasechrono): ?>
		<tr>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('identification', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('description', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('datationdebutbasse', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('datationdebuthaute', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('datationfinbasse', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('datationfinhaute', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><?php echo $phasechrono->get('episodeurbain_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><a href="<?php echo $this->getRequest('Phasechrono', 'edit', $phasechrono->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($phasechronos); ?>><a href="<?php echo $this->getRequest('Phasechrono', 'delete', $phasechrono->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="10"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<!--
    <tr>
			<td colspan="10">
				<a href="<?php echo $this->getRequest('Phasechrono', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
    -->
	</tfoot>
</table></div>