<?php

$base_url = $request->getBaseUrl();
//Nom du fichier export
$sitefouille_nom_secure = preg_replace('/ /', '_', strtolower($sitefouille_info->get('nom','Accent')) );

/* Tableau des Eléments Recueillis par classe */
$classeNA = "Non déterminée";

$data_er_classe = array(); 
$temp = array();
$_SESSION['nb_er_poterie'] = 0;
foreach ($classe_elementrecueillis as $er_classe ) {
	if($er_classe->get('classe') == "NA"){
		$temp = array($classeNA,$er_classe->get('nb_er'));
	}    
	else{
		$data_er_classe[] = array($er_classe->get('classe'), $er_classe->get('nb_er') );
	}
	if($er_classe->get('classe_id') == 1993){
		$_SESSION['nb_er_poterie'] = $er_classe->get('nb_er');
	}
} 
if(!empty($temp)){
	array_push($data_er_classe,$temp);
}

$json_er_classe = json_encode($data_er_classe, JSON_NUMERIC_CHECK | JSON_UNESCAPED_SLASHES | JSON_HEX_TAG | JSON_HEX_APOS | JSON_HEX_QUOT | JSON_HEX_AMP | JSON_UNESCAPED_UNICODE) ;

// identifiant unique de la div d'affichage 
$unique_div = rand();
?>
<script type="text/javascript">
  var json_er_classe = <?php  echo $json_er_classe  ; ?> ; 

  $(function(){
    $('#container_er_classe_bar_<?php echo $unique_div  ; ?>').highcharts({
        credits: {
          enabled: false
        },
        chart: { type: 'column' },
        title: { text: null },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: { text: null },
            allowDecimals:false
        },
        tooltip: { enabled:false },
        legend: { enabled: false },
        series: [{
            name: '',
            data: json_er_classe,
            dataLabels: {
                enabled: false,
                // rotation: -90,
              	//color: '#7F7F7F',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                    
                }
            }
        }],
        exporting: {
          enabled: false,
          filename: '<?php  echo $sitefouille_nom_secure.'_er_classe_bar_charts'  ; ?>'
        }
    });
    $('a').click(function(){ 
    	setTimeout(function(){
    		$('#container_er_classe_bar_<?php echo $unique_div  ; ?>').highcharts().reflow();
    		},100);            	            	
    });

});
</script>

<!-- Rappel Titre Onglets -->
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_classe_bar">
		<div id="container_er_classe_bar_<?php echo $unique_div  ; ?>" class="container_stats">
		</div>                                       
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_classe_list" class="container_liste">
      	<table class="container_list">
			<?php
				for($i=0;$i<count($data_er_classe);$i++){
					echo "<tr><td><b> ".$data_er_classe[$i][0]."</b></td><td>".$data_er_classe[$i][1]." </td></tr>";
				}
			?>
		</table>
      </div>
    </div>
    
  </div>
</div>
