<?php
 $base_url = $request->getBaseUrl();
  
  //Nom du fichier export
  $sitefouille_nom_secure = preg_replace('/ /', '_', strtolower($sitefouille_info->get('nom','Accent')) );
   
/* Tableau des Eléments Poterie par classification */

$classificationNA = "Non classée";
$data_ep_classification = array();
$temp = array();

foreach ($classification_elementpoteries as $ep_classification ) {                    
	if($ep_classification->get('classification')=="NA"){
		$temp[] = array($classificationNA,$ep_classification->get('nb_er'));
	}
	else{
		$data_ep_classification[] = array($ep_classification->get('classification'), $ep_classification->get('nb_er')) ;
	}
} 
if(!empty($temp)){
$data_ep_classification = array();
	array_push($data_ep_classification,$temp[0]);
}
if(!empty($temp) && $_SESSION['nb_er_poterie'] != 0){
	$data_ep_classification = array(array($classificationNA , $_SESSION['nb_er_poterie']));
}

$json_ep_classification =  json_encode($data_ep_classification, JSON_NUMERIC_CHECK | JSON_UNESCAPED_SLASHES | JSON_HEX_TAG | JSON_HEX_APOS | JSON_HEX_QUOT | JSON_HEX_AMP | JSON_UNESCAPED_UNICODE ) ;
  
// identifiant unique de la div d'affichage 
$unique_div = rand();  
  
?>

<script type="text/javascript">
  var json_ep_classification = <?php  echo $json_ep_classification; ?> ;  

  $(function () {
    $('#container_ep_classification_bar_<?php echo $unique_div  ; ?>').highcharts({
        credits: {
          enabled: false
        },
        chart: { type: 'column' },
        title: { text: null },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: { text: null }
        },
        legend: { enabled: false },
        tooltip: { 
          //pointFormat: 'Etat : <b>{point.y} </b>' 
          // pointFormat: 'Statut : <b>{point.y:.1f} </b>' // valeur numerique avec decimale
        },
        series: [{
            name: 'Classification',
            data: json_ep_classification,
            dataLabels: {
                enabled: true,
                // rotation: -90,
                //color: '#FFFFFF',
                color: '#7F7F7F',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }],
        exporting: {
          enabled: false,
          filename: '<?php  echo $sitefouille_nom_secure.'_ep_classification_bar-charts'  ; ?>'
        }
    }); $('a').click(function(){ 
    	setTimeout(function(){
    		$('#container_ep_classification_bar_<?php echo $unique_div  ; ?>').highcharts().reflow();
    		},100);            	            	
    });

});
</script>



<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_classification_bar">
			<div id="container_ep_classification_bar_<?php echo $unique_div  ; ?>" class="container_stats">
			</div>                                     
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_classification_list" class="container_liste">
      	<table class="container_list">
			<?php
			for($i=0;$i<count($data_ep_classification);$i++){
				echo "<tr><td><b> ".$data_ep_classification[$i][0]."</b></td><td>".$data_ep_classification[$i][1]."</td></tr>";
			}
			?>
		</table>
      </div>
    </div>
    
  </div>
</div>