<?php
$base_url = $request->getBaseUrl();
$registry = $this->getRegistry();
$i18n = $registry->get('i18n');

// identifiant unique de la div d'affichage 
$unique_div = rand();
/* Tableau des Eléments Recueillis par classe */

$data_er_datation = array(); 
$nb_er_non_defini = 0;



foreach ($datation_elementrecueillis as $er_datation ) {
	if($er_datation->get('datation') == "NA"){
		$nb_er_non_defini = $er_datation->get('nb_er');
	} else {
		$data_er_datation[] = array($er_datation->get('datation'), $er_datation->get('nb_er') );
	}
} 

$tab_er = array();
for ($i = 0; $i <= 2016; $i=$i+200) {
	$nb_er = 0;
	for ($j = 0; $j < count($data_er_datation); $j++) {
		if ($data_er_datation[$j][0] >= $i && $data_er_datation[$j][0] < $i + 200 ) {
			$nb_er = $nb_er + $data_er_datation[$j][1];
		}	
	}
	if ($nb_er != 0) {
		$tab_er[] = array($i,$nb_er);
	}
}	


$json_er_datation = json_encode($tab_er, JSON_NUMERIC_CHECK | JSON_UNESCAPED_SLASHES | JSON_HEX_TAG | JSON_HEX_APOS | JSON_HEX_QUOT | JSON_HEX_AMP | JSON_UNESCAPED_UNICODE) ;

// Mantis 361 début
// nb éléments recueillis sans datation début estimée
foreach ($datation_elementrecueillis_DE as $er_datation ) {
	if($er_datation->get('datation') == "NA"){
		$nb_er_non_defini_DE = $er_datation->get('nb_er');
	}
}
// nb éléments recueillis sans datation fin certaine
foreach ($datation_elementrecueillis_FC as $er_datation ) {
	if($er_datation->get('datation') == "NA"){
		$nb_er_non_defini_FC = $er_datation->get('nb_er');
	}
}
// nb éléments recueillis sans datation début certaine
foreach ($datation_elementrecueillis_DC as $er_datation ) {
	if($er_datation->get('datation') == "NA"){
		$nb_er_non_defini_DC = $er_datation->get('nb_er');
	}
}
// Mantis 361 fin

?>

<style>
.center{
text-align:center;
}
label {
  width: 250px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  margin-right: 30px;
  margin-left: 30px;
  
}
input.radio:empty {
	display:none;
}
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
}
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #FFF3ED;
	background-color: #1A82C3;
}
.divRadio{
margin-right:15px;
}

#er_datation_bar{
margin-top:15px;
}
.col-md-12{
margin-top:15px;
}
</style>
 
</form>
<form action="" method="post" id="form_ajax">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
    	<div class="col-md-6">
    		<div class="divRadio">
   	 			<input type="radio" class="radio" name="group1" id="estimee" checked/>
   	 			<label for="estimee"><?php echo $i18n->say('datation')." ".$i18n->say('estimee'); ?></label>
   	 		 </div>
   	 		 <div class="divRadio">
   	 		  	 <input type="radio" class="radio" name="group1" id="certaine">
   	 		 	 <label for="certaine"><?php echo $i18n->say('datation')." ".$i18n->say('certaine'); ?></label>
   	 		 </div> 
    	</div>
    	<div class="col-md-6">
    		<div class="divRadio">
    			<input type="radio" class="radio" name="group2" id="parDebut" />
    			<label for="parDebut">Par date de d&eacute;but</label>
    		</div>
    		<div class="divRadio">
    			<input type="radio" class="radio" name="group2" id="parFin" checked />
    			<label for="parFin">Par date de fin</label>
    		</div>
    		
    	</div>
    	<div class="col-md-12 center">
    	
    	Nombre d'&eacute;l&eacute;ments sans datation :
    	<span id="nb_er_non_defini">
    	 <?php echo $nb_er_non_defini; ?>
    	</span>
    	</div>
    	<div class="col-md-12">
    		<div class="col-md-6 center">
    		Date de d&eacute;but d'histogramme : <input type="text" id="debutHisto" name="debutHisto" value=0 />
    		</div>
    		<div class="col-md-6 center">
    		Date de fin d'histogramme : <input type="text" id="finHisto"name="finHisto" value=2016 />
    		</div>
    	</div>
    	<div class="col-md-12 center">
    	Intervalle : <input type="text" id="intervalle" name="intervalle" value=200 />
    	</div>
    	<div class="col-md-12">
    		<div id="er_datation_bar">
    		
			<div id="container_er_datation_bar_<?php echo $unique_div  ; ?>" class="container_stats"></div>  
    		</div>
    	</div>
      </div>                        
   </div>
  </div>
 <?php 
 
 
  ?>

<script type="text/javascript">


 var intervalle = $("#intervalle").val();
 var debut = $("#debutHisto").val();
 var fin = $("#finHisto").val();
 fin = (((fin/intervalle)+1)*intervalle);
 var data_er_datation = <?php  echo $json_er_datation; ?> ;  
 $(function () {
   $('#container_er_datation_bar_<?php echo $unique_div  ; ?>').highcharts({
       credits: {
         enabled: false
       },
       chart: { type: 'column' },
       title: { text: null },
       xAxis: {
           startOnTick : true,
           type: 'linear',
           tickInterval : intervalle,
           min: debut,
           max: fin ,
           labels: {
               rotation: -45,
               style: {
                   fontSize: '13px',
                   fontFamily: 'Verdana, sans-serif'
               }
           }
       },
       yAxis: {
           min: 0,
           type: 'linear',
           title: { text: null },
           allowDecimals:false
       },
       legend: { enabled: false },
       tooltip:{
       	enabled:false
       },
       series: [{
           name: '',
           data: data_er_datation,
           dataLabels: {
               enabled: true,
               color: '#7F7F7F',
               align: 'center',
               
               style: {
                   fontSize: '15px',
                   fontFamily: 'Verdana, sans-serif'
               }
           }
       }],
       exporting: {
         enabled: false,
         filename: ''
       }
   });
   $('a').click(function(){ 
		setTimeout(function() {
			$('#container_er_datation_bar_<?php echo $unique_div  ; ?>').highcharts().reflow();
		},100);            	            	
   });
	$(":input").on("keyup change",function(){ 
		$.ajax({
			type:"POST",
			url: "<?php echo $this->getRequest('Dashboard_Elementrecueilli', 'ajaxDatation') ; ?>",
			data: {
				estCertaine : $("#certaine").is(":checked")?true:false,
				estParFin : $("#parFin").is(":checked")?true:false,
				intervalle : $("#intervalle").val(),
				debutHisto : $("#debutHisto").val(),
				finHisto : $("#finHisto").val()
			},
			dataType :'json'
		}).success(function(donnee){
			var chart = $('#container_er_datation_bar_<?php echo $unique_div  ; ?>').highcharts();
			chart.series[0].setData(donnee);
			majNbErNonDefini($("#estimee").is(":checked"),$("#certaine").is(":checked"),$("#parDebut").is(":checked"),$("#parFin").is(":checked"));
		});
	});
});

$(":text").on("keyup change",function(){
	intervalle = $("#intervalle").val();
	debut = $("#debutHisto").val();
	fin = $("#finHisto").val();
	fin = (((fin/intervalle)+1)*intervalle);
	$('#container_er_datation_bar_<?php echo $unique_div  ; ?>').highcharts().xAxis[0].update({
		min : debut,
		max: fin,
		tickInterval: intervalle,
	});	
});

//Mantis 361
function majNbErNonDefini(estimee,certaine,debut,fin) {
	if (estimee) {
		if (debut)
			$('#nb_er_non_defini').text('<?php echo $nb_er_non_defini_DE; ?>');
		else
			$('#nb_er_non_defini').text('<?php echo $nb_er_non_defini; ?>');
	}
	else {
		if (debut)
			$('#nb_er_non_defini').text('<?php echo $nb_er_non_defini_DC; ?>');
		else
			$('#nb_er_non_defini').text('<?php echo $nb_er_non_defini_FC; ?>');
	}
}

</script>