<?php
$base_url = $request->getBaseUrl(); 
  //Nom du fichier export
  $sitefouille_nom_secure = preg_replace('/ /', '_', strtolower($sitefouille_info->get('nom','Accent')) );
  
  /* Tableau des Eléments Recueillis poteries par forme */

$formeNA = "Non définie";
$data_ep_forme = array();
$temp = array();

foreach ($production_elementpoteries as $ep_forme ) {  
	if($ep_forme->get('forme') == "NA"){
		$temp[] = array($formeNA,$ep_forme->get('nb_er'));
	}
	else{                      
    	$data_ep_forme[] = array($ep_forme->get('forme'), $ep_forme->get('nb_er')) ;
	} 
}
if(!empty($temp)){
	array_push($data_ep_forme,$temp[0]);
}
if(!empty($temp) && $_SESSION['nb_er_poterie'] != 0){
	$data_ep_forme = array(array($formeNA,$_SESSION['nb_er_poterie']));
}

  $json_ep_forme =  json_encode($data_ep_forme, JSON_NUMERIC_CHECK | JSON_UNESCAPED_SLASHES | JSON_HEX_TAG | JSON_HEX_APOS | JSON_HEX_QUOT | JSON_HEX_AMP | JSON_UNESCAPED_UNICODE) ;
  
  // identifiant unique de la div d'affichage 
  $unique_div = rand();
  
?>
<script type="text/javascript">
  var json_ep_forme = <?php  echo $json_ep_forme  ; ?> ; 

  $(function () {
            // Build the chart
        $('#container_ep_forme_pie_<?php echo $unique_div  ; ?>').highcharts({
            credits: {
              enabled: false
            },
            chart: {
                plotRetourgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            legend:{
            	enabled: true,
            	floating: true,
            	align: 'right',
            	verticalAlign:'top'
            },
            title: { text: '' },
            tooltip: { 
              // pointFormat: '{series.name}: <b>{point.y}</b>'
              // pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' // valeur % numerique avec decimale  
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: { enabled: false },
                    showInLegend: true,
                    center:["32%","55%"]
                }
            },
            series: [{
                type: 'pie',
                name: 'Nombres',
                data: json_ep_forme,
                dataLabels: { enabled: false }
            }],
          
          exporting: {
            enabled: false,
            filename: '<?php  echo $sitefouille_nom_secure.'_er_forme_pie-charts'  ; ?>'
          } 
        });
        $('a').click(function(){ 
        	setTimeout(function(){
        		$('#container_ep_forme_pie_<?php echo $unique_div  ; ?>').highcharts().reflow();
        		},100);            	            	
        });
});
</script>



<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_forme_pie">
			<div id="container_ep_forme_pie_<?php echo $unique_div  ; ?>" class="container_stats">
			</div>                                  
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="er_forme_list" class="container_liste">
      	<table class="container_list">
			<?php
				for($i=0;$i<count($data_ep_forme);$i++){
					echo "<tr><td><b> ".$data_ep_forme[$i][0]."</b></td><td>".$data_ep_forme[$i][1]."</td></tr>";
				}
			?>
		</table>
      </div>
    </div>
    
  </div>
</div>