<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($uses, 'pager_us');

$uses = $pager->getStatement();
$sitefouille_id = $session->get('sitefouille_id') ;

?>
  <div id="optiontools">
    <div style="padding: 10px; float:left;">
      <span>
        <a href="<?php echo $this->getRequest('Dashboard_Us','Export') ?>?sitefouille_id=<?php echo $sitefouille_id ; ?>&export_type=xls">
          <img 
              src="<?php echo $request->getBaseUrl(); ?>/images/icone_xls.gif" 
              alt="Export des US pour <?php echo $sitefouille_id ; ?>" 
              title="Export des US pour <?php echo $sitefouille_id ; ?>" 
              border="0"
              height="24" width="24"
            />
        </a>    
      </span>
    </div>
  </div>
<table class="table table-striped">
	<caption>Us</caption>
	<thead>
		<tr>
			<th><?php echo $pager->getSortLink('sitefouille'); ?></th>
      <th><?php echo $pager->getSortLink('identification'); ?></th>
			<th><?php echo $pager->getSortLink('debut'); ?></th>
			<th><?php echo $pager->getSortLink('fin'); ?></th>
			<th><?php echo $pager->getSortLink('contexte'); ?></th>
			<th><?php echo $pager->getSortLink('consistance'); ?></th>
			<th><?php echo $pager->getSortLink('methodefouille'); ?></th>
			<th><?php echo $pager->getSortLink('materielisole'); ?></th>
			<th><?php echo $pager->getSortLink('homogeneite'); ?></th>
			<!-- <th>#</th> -->
		</tr>
	</thead>
	<tbody>
	<?php foreach($uses as $us): ?>
		<tr>
			<td<?php echo $pager->getClass($uses); ?> id="sdf_<?php echo $us->get('sitefouille_id', $filter_html); ?>">
        <?php echo $us->get('sitefouille_nom', $filter_html); ?>  
      </td>
			<td<?php echo $pager->getClass($uses); ?> id="us_<?php echo $us->get('us_id'); ?>">
        <a href="<?php echo $this->getRequest('Dashboard_Us', 'show', array($us->get('us_id') )); ?>">
          <?php echo $us->get('us_identification', $filter_html); ?>
        </a>        
      </td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('debut', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('fin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('occupation', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('contexte', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('consistance', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('methodefouille', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('materielisole', $filter_html); ?></td>
			<td<?php echo $pager->getClass($uses); ?>><?php echo $us->get('homogeneite', $filter_html); ?></td>
			<!-- <td<?php echo $pager->getClass($uses); ?>><a href="<?php echo $this->getRequest('Dashboard_Us', 'edit', array($us->get('us_id') )); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td> -->			
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<!-- <a href="<?php echo $this->getRequest('Dashboard_Us', 'add'); ?>">Ajouter</a> -->
				<a href="<?php echo $this->getRequest('Dashboard_Sitefouille', 'index'); ?>"  class="btn btn-default" >Retour au Tableau de Bord</a>
			</td>
		</tr>
	</tfoot>
</table>