<?php

	$loader = Yab_Loader::getInstance();
	$session = $loader->getSession();
    $config = $loader->getConfig();
    $request = $loader->getRequest() ;
?>
<script src="<?php echo $request->getBaseUrl(); ?>/js/filetree/src/jQueryFileTree.js"></script>
<script>
    $(function(){
        $('.filetree-basic').fileTree({
            script: "<?php echo $request->getBaseUrl(); ?>/Mediatheque/ajaxfiletree",
            root: "",
            additional_data: {entity:"<?php echo $entity; ?>",id:"<?php echo $entity_id; ?>"},
            multiSelect: true
        }, function(rel) {
            var file = $("[rel='"+rel+"']").parent();
            var path = file.attr('path')
            var title = file.attr('file-title')
            var fileid = file.attr('fileid')
            var addmedia = $("input[type='checkbox']",file).prop("checked")

            var action = !addmedia?"ajaxRemMedia":"ajaxAddMedia";
            $.ajax({
                method: "POST",
                url: "<?php echo $request->getBaseUrl(); ?>/Mediatheque/"+action,
                data: {entity:"<?php echo $entity; ?>",entity_id:"<?php echo $entity_id; ?>",media_id:fileid},
                error : function(){
                    alert("error")
                },
                success: function(data) {
                    if(data) {
                        alert(data)
                        file.prop("checked",file.prop("checked"))
                    }else{
                        if (addmedia){
                            $("#gallery").append("<a class='highslide' onclick='return hs.expand(this)' "+
                                    "href='"+path+"'" +
                                    "id='img-"+fileid+"'" +
                                    "style='margin-right: 5px;'>"+
                                    "<img alt='Highslide JS' " +
                                    "src='"+path+"'>"+
                                    "</a>"+
                                    "<div class='highslide-caption' id='desc-"+fileid+"'>"+ title +"</div>");
                        }else{
                            $("#img-"+fileid).remove()
                            $("#desc-"+fileid).remove()
                        }
                        $("[fileid='"+fileid+"']").each(function(){
                            if(rel != $("a",$(this)).first().attr("rel"))
                                $("input[type='checkbox']",$(this)).first().prop("checked",addmedia);
                        })
                    }
                }
            });
        });
    });
</script>



<link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/css/filetree/jQueryFileTree.min.css">

<div class="row">
    <div class="filetree-basic col-md-4"></div>

    <div class="highslide-gallery col-md-8">
        <div class="highslide-gallery" id="gallery">
            <?php echo $this->getResponse('Mediatheque', 'Show', array('entity' => $entity, 'entity_id' => $entity_id) ); ?>
        </div>
    </div>
</div>
