<?php
$registry = $this->getRegistry();
$i18n = $registry->get('i18n');
?>

<script src="<?php echo $request->getBaseUrl(); ?>/js/highslide/highslide-with-gallery.min.js"></script>
<script type="text/javascript">
    hs.graphicsDir = "<?php echo $request->getBaseUrl(); ?>/css/highslide/graphics/";
    hs.align = 'center';
    hs.transitions = ['expand', 'crossfade'];
    hs.wrapperClassName = 'dark borderless floating-caption';
    hs.fadeInOut = true;
    hs.dimmingOpacity = .75;

    // Add the controlbar
    if (hs.addSlideshow) hs.addSlideshow({
        interval: 5000,
        repeat: false,
        useControls: true,
        fixedControls: 'fit',
        overlayOptions: {
            opacity: .6,
            position: 'bottom center',
            hideOnMouseOut: true
        }
    });
</script>

<link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/css/highslide/highslide.css">

<?php
    if(!empty($medias)){

        foreach($medias as $media){ ?>
            <a href="<?php echo $media['element_url']; ?>"
               class="highslide" onclick="return hs.expand(this)" id="img-<?php echo $media['id']; ?>">
                <img src="<?php echo $media['element_url']; ?>" alt="Highslide JS" />
            </a>

            <div class="highslide-caption" id="desc-<?php echo $media['id']; ?>">
                <?php echo $media['name']; ?>
            </div>
<?php   }
    }
?>