<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($us_oas, 'pager_us_oa');

$us_oas = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Us_Oa</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('oa_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($us_oas as $us_oa): ?>
		<tr>
			<td<?php echo $pager->getClass($us_oas); ?>><?php echo $us_oa->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_oas); ?>><?php echo $us_oa->get('oa_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_oas); ?>><a href="<?php echo $this->getRequest('Us_Oa', 'edit', $us_oa->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($us_oas); ?>><a href="<?php echo $this->getRequest('Us_Oa', 'delete', $us_oa->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Us_Oa', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>