<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($oa_docs, 'pager_oa_doc');

$oa_docs = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Oa_Doc</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('oa_id'); ?></td>
			<td><?php echo $pager->getSortLink('doc_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($oa_docs as $oa_doc): ?>
		<tr>
			<td<?php echo $pager->getClass($oa_docs); ?>><?php echo $oa_doc->get('oa_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($oa_docs); ?>><?php echo $oa_doc->get('doc_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($oa_docs); ?>><a href="<?php echo $this->getRequest('Oa_Doc', 'edit', $oa_doc->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($oa_docs); ?>><a href="<?php echo $this->getRequest('Oa_Doc', 'delete', $oa_doc->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Oa_Doc', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>