<script>
	function afficherChemin(id) {
		if (document.getElementById("tr_" + id).style.display == "none") {
			document.getElementById("tr_" + id).style.display = "table-row" ;
			document.getElementById("btn_chemin_" + id).className = "glyphicon glyphicon-minus-sign" ;
		} else {
			document.getElementById("tr_" + id).style.display = "none" ;
			document.getElementById("btn_chemin_" + id).className = "glyphicon glyphicon-plus-sign" ;
		}
	}
</script>

<?php
	if (count($data) == 0) {
	echo "<h3>Aucun élément</h3>" ;
exit ;	
	}
?>

<div style="overflow-x:hidden; ooverflow-y:auto; max-height:400px;">
	<table class="table table-hover" style="width:100%;">
		<tr>
		<th>Numéro</th>
		<th>Description</th>
		<th>Chemin complet</th>
		</tr>
			<?php foreach($data as $ligne) { ?>
				<tr>
					<td><?php echo Plugin_Fonctions::html($ligne["numero"]) ; ?></td>
					<td><?php echo Plugin_Fonctions::html($ligne["description"]) ; ?></td>
					<td>
						<?php if (!$ligne["origine"]) { ?> 
							 <span style="font-size: 18px; cursor:pointer;" id="btn_chemin_<?php echo $ligne["id"] ; ?>" class="glyphicon glyphicon-plus-sign" onclick="afficherChemin('<?php echo $ligne["id"] ; ?>');" ></span>
						<?php } ?>
					</td>
				</tr>
				<tr id="tr_<?php echo $ligne["id"] ; ?>" style="display:none;">
					<td colspan="3">
						<p class="text-left"><?php echo Plugin_Fonctions::html($ligne["chemin"]) ; ?></p>
					</td>
				</tr>
			<?php } ?>
	</table>
</div>