<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	// gestion des accentuations / date / ....
	$filter_html = new Yab_Filter_Html();
	//filtre d'affichage pour les accentués
	$filter_no_html = new Yab_Filter_NoHtml();
	$session->set('format','%d/%m/%Y') ;
	
	
	$pager = new Yab_Helper_Pager($emplacements, 'pager_emplacement');
	
	$emplacements = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Emplacement</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id',$filter_html->filter( $i18n -> say('id'))); ?></td>
			<td><?php echo $pager->getSortLink('nom',$filter_html->filter( $i18n -> say('nom'))); ?></td>
			<td><?php echo $pager->getSortLink('type_id',$filter_html->filter( $i18n -> say('type_id'))); ?></td>
			<td><?php echo $pager->getSortLink('parent_id',$filter_html->filter( $i18n -> say('parent_id'))); ?></td>
			<td><?php echo $pager->getSortLink('entiteadmin_id',$filter_no_html->filter( $i18n -> say('entiteadmin_id'))); ?></td>
			<td><?php echo $pager->getSortLink('description',$filter_html->filter( $i18n -> say('description'))); ?></td>
      <td colspan="2" align="center">
        <a href="<?php echo $this->getRequest('Emplacement', 'add'); ?>">
          <span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter" ></span>  
        </a>
      </td>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($emplacements as $emplacement){
			$emplacement_id = $emplacement->get('id');
      		$description = $emplacement->get('description');   
		
	?>
		<tr>
			<td <?php echo $pager->getClass($emplacements); ?>><?php echo $emplacement->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($emplacements); ?>>
				<a href="<?php echo $this->getRequest('Emplacement', 'show', $emplacement->getPrimary()); ?>">
					<?php echo $emplacement->get('nom', $filter_html); ?>
				</a>
			</td>
			<td<?php echo $pager->getClass($emplacements); ?>><?php echo $emplacement->get('type_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($emplacements); ?>><?php echo $emplacement->get('parent_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($emplacements); ?>><?php echo $emplacement->get('entiteadmin_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($emplacements); ?>>
			   <?php if (!empty($description) ) { ?>
		        <span
		          id="description_<?php echo $emplacement_id ; ?>"
		          class="glyphicon glyphicon-info-sign"
		          data-toggle="popover"
		          data-container="body"
		          data-content="<?php echo $description ; ?>"            
		          data-placement="left"
		          style="font-size: 18px; cursor:pointer;"
		        ></span>        
		      <?php } ?>
			</td>
			<td<?php echo $pager->getClass($emplacements); ?>><a href="<?php echo $this->getRequest('Emplacement', 'edit', $emplacement->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($emplacements); ?>><a href="<?php echo $this->getRequest('Emplacement', 'delete', $emplacement->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"  alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php } ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8"><?php echo $pager->getPagination(); ?></td>
		</tr>
    <!--
		<tr>
			<td colspan="8">
				<a href="<?php echo $this->getRequest('Emplacement', 'add'); ?>">ADD</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>">Go back to index</a>
			</td>
		</tr>
    -->
	</tfoot>
</table>