<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($intervention_uses, 'pager_intervention_us');

$intervention_uses = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Intervention_Us</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('intervenant_id'); ?></td>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('debut'); ?></td>
			<td><?php echo $pager->getSortLink('fin'); ?></td>
			<td><?php echo $pager->getSortLink('type_id'); ?></td>
			<td colspan="2">
				<a href="<?php echo $this->getRequest('Intervention_Us', 'add'); ?>" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 24px;"></span>
				</a>
			</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($intervention_uses as $intervention_us):
		$this->set('format','%d/%m/%Y') ; 
		
	?>
		<tr>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('intervenant_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('debut', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('fin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('type_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><a href="<?php echo $this->getRequest('Intervention_Us', 'edit', $intervention_us->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><a href="<?php echo $this->getRequest('Intervention_Us', 'delete', $intervention_us->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="8">
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table>