<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');
	
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	$pager = new Yab_Helper_Pager($intervention_uses, 'pager_intervention_us');

	// $intervention_uses = $pager->getStatement();

?>

<table class="table table-striped">
	<caption>Intervention_Us</caption>
	<thead>
		<tr>
			<!--<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('intervenant_id'); ?></td>-->
			<td><?php echo $pager->getSortLink('nom',$filter_no_html->filter( $i18n -> say('nom'))); ?></td>
			<td><?php echo $pager->getSortLink('prenom',$filter_no_html->filter( $i18n -> say('prenom'))); ?></td>
			<td><?php echo $pager->getSortLink('identification',$filter_no_html->filter( $i18n -> say('identification')) ); ?></td>
			<td><?php echo $pager->getSortLink('intervention_debut',$filter_no_html->filter( $i18n -> say('debut')) ); ?></td>
			<td><?php echo $pager->getSortLink('intervention_fin', $filter_no_html->filter( $i18n -> say('fin')) ); ?></td>
			<td><?php echo $pager->getSortLink('intervention_type', $filter_no_html->filter( $i18n -> say('type'))); ?></td>
			<?php if(!$integrated_list): ?>
			<td colspan="2">				
				<a href="<?php echo $this->getRequest('Intervention_Us', 'add'); ?>" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 24px;"></span>
				</a>								
			</td>
			<?php endif; ?>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($intervention_uses as $intervention_us): 
			$intervention_us->set('format','%d/%m/%Y') ;
			$intervention_id = $intervention_us->get('id');
	?>
		<tr>
			<!--<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('intervenant_id', $filter_html); ?></td>-->
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('nom', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('prenom', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('identification', $filter_html); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('intervention_debut', 'Date'); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('intervention_fin', 'Date'); ?></td>
			<td<?php echo $pager->getClass($intervention_uses); ?>><?php echo $intervention_us->get('intervention_type', $filter_html); ?></td>
			<?php if(!$integrated_list): ?>
			<td<?php echo $pager->getClass($intervention_uses); ?>>			
				<a href="<?php echo $this->getRequest('Intervention_Us', 'edit', array($intervention_id) ); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a>
			</td>
			<td<?php echo $pager->getClass($intervention_uses); ?>>
				<a href="<?php echo $this->getRequest('Intervention_Us', 'delete', array($intervention_id) ); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a>
			</td>
			<?php endif; ?>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<?php if(!$integrated_list): ?>
	<tfoot>
		<tr>
			<td colspan="8"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="8">
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
	<?php endif; ?>
</table>