{if isset($mp3_button)}
      <li><a href="{$mp3_button.URL}" title="{'wfs_associate_category'|@translate}"><img src="{$mp3_button.ICON}" class="button" alt="{'wfs_associate_category'|@translate}"/></a></li>
{/if}

{if isset($wfs)}
<li>
<object style="vertical-align:top; margin-top:3px;" type="application/x-shockwave-flash" width="{$wfs.PLAYER_WIDTH}" height="20"
    data="{$wfs.MP3}&amp;autostart={$wfs.AUTOSTART}&amp;autoreplay={$wfs.AUTOREPLAY}&amp;volume={$wfs.VOLUME}&amp;showtime=1">
    <param name="movie" value="{$wfs.MP3}&amp;autostart={$wfs.AUTOSTART}&amp;autoreplay={$wfs.AUTOREPLAY}&amp;volume={$wfs.VOLUME}&amp;showtime=1">
    <param name="wmode" value="transparent">
</object>
</li>
{/if}
