{if isset($mp3_button)}
  <a href="{$mp3_button.URL}" title="{'wfs_associate_category'|@translate}"><img src="{$mp3_button.ICON}" class="button" alt="{'wfs_associate_image'|@translate}"/></a>
{/if}

{if isset($wfs)}
<div style="margin:4px 13px 0 13px;width:{$wfs.PLAYER_WIDTH}px;float:left;">
<object type="application/x-shockwave-flash" width="{$wfs.PLAYER_WIDTH}" height="20"
    data="{$wfs.MP3}&amp;autostart={$wfs.AUTOSTART}&amp;autoreplay={$wfs.AUTOREPLAY}&amp;volume={$wfs.VOLUME}&amp;showtime=1">
    <param name="movie" value="{$wfs.MP3}&amp;autostart={$wfs.AUTOSTART}&amp;autoreplay={$wfs.AUTOREPLAY}&amp;volume={$wfs.VOLUME}&amp;showtime=1">
    <param name="wmode" value="transparent">
</object>
</div>
{/if}