<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($conteneurs, 'pager_conteneur');

$conteneurs = $pager->getStatement();

?>
<script>
function changeType(baseurl) {
	var id=document.getElementById("select_type").value;
	location.href=baseurl+'/conteneur/gestion/'+id;
}
</script>

<form id="form_selection" method="POST" action="">  
		<table class="gestion_table">
			<tr class="table_head gestion_bordures">
				<th class="txt-position-15" style="width:10%">Type de conteneur</th>
				<td>
					<select class="color inputColor select-style-gestion-us" style="width:150px" id="select_type" name="" onChange="changeType('<?php echo $request->getBaseUrl(); ?>')" >
									<option value="">Tous</option>
						<?php foreach($types as $type) {
										if ($selected_type==$type->get('id')) 
											echo "<option selected value='".$type->get('id')."'>".$type->get('categorie_value')."</option>";
										else 
											echo "<option value='".$type->get('id')."'>".$type->get('categorie_value')."</option>";
									}?>
					</select>
			</td>									
		</table>
	</form>						

<!-- class="table table-striped"  -->
<table class="gestion_table"  id="gestionDataTable">
<!-- <table class="gestion-style gestion_table-border compact" > -->
	<caption>Conteneur</caption>
	<thead>
		<tr class="table-th-background">
			
			<td><?php echo $pager->getSortLink('nom', 'Nom'); ?></td>
			<td><?php echo $pager->getSortLink('description', 'Description'); ?></td>
			<td><?php echo $pager->getSortLink('codebarre', 'Codebarre'); ?></td>
			<td><?php echo $pager->getSortLink('categorie_value', 'Type'); ?></td>
			<td><?php echo $pager->getSortLink('emplacement_id', 'Emplacement'); ?></td>
						
						


        
        
        <a href="<?php echo $this->getRequest('Conteneur', 'add'); ?>">
          <input type="submit" name="creer" class="btn-creer" value="" />
          <!-- <span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter" ></span> -->  
        </a>
      </td> 
		</tr>
	</thead>
	<tbody>
	<?php foreach($conteneurs as $conteneur): ?>
		<tr>
			
			<td<?php echo $pager->getClass($conteneurs); ?>><?php echo $conteneur->get('nom', $filter_html); ?></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><?php echo $conteneur->get('description', $filter_html); ?></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><?php echo $conteneur->get('codebarre', $filter_html); ?></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><?php echo $conteneur->get('categorie_value', $filter_html); ?></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><?php echo $conteneur->get('emplacement', $filter_html); ?></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><a href="<?php echo $this->getRequest('Conteneur', 'detail', array($conteneur->get('id')));?>"><input type="submit" name="" value=""  class="btn-detail " /></td></a></td>
			<td<?php echo $pager->getClass($conteneurs); ?>><a href="<?php echo $this->getRequest('Conteneur', 'formulaire', array($conteneur->get('id')));?>"><input type="submit" name="" value="" class="btn-modifier btn_taille" /></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<!--
    <tr>
			<td colspan="8">
				<a href="<?php echo $this->getRequest('Conteneur', 'add'); ?>">ADD</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>">Go back to index</a>
			</td>
		</tr>
    -->
	</tfoot>
</table>