<?php
$session = $this->getSession();
$registry = $this->getRegistry();
// appel fichier internalisation
$i18n = $this->getRegistry()->get('i18n');
$filter_html = new Yab_Filter_Html();
$filter_no_html = new Yab_Filter_NoHtml();
$sitefouille_id = $session->get('sitefouille_id') ;
header("Access-Control-Allow-Origin: *");
?>

<link rel="stylesheet" href="<?php echo $request->getBaseUrl(); ?>/css/jquery-ui.css">
<script src="<?php echo $request->getBaseUrl(); ?>/js/jquery-ui.js"></script>
<script src="http://stratifiant.fichestrati.fr/StratifiantService/Scripts/lodash.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/clickSVG.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/pdfexport.min.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jspdf.min.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/html2canvas.min.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jsfsn.js"></script>   
<script src="<?php echo $request->getBaseUrl(); ?>/js/jspdf/jQuery.print.js"></script>   
<script src="<?php echo $request->getBaseUrl(); ?>/js/stratifiant/stratifiant.js"></script>
	
<script type='text/javascript'>
	var sZeroRecords = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_error')) ; ?>"
	var sSearch = "<?php echo $filter_no_html->filter( $i18n -> say('recherche_globale')) ; ?> :"
</script>

  <style type="text/css">
  .generatepdf {
    color: black;
    background-color: white }
  </style>
  
<!--
<div id="onglets">
  <ul>
    <li><a href="#onglet-parametres">Paramètres</a></li>
    <li><a href="#onglet-traitement">Traitement</a></li>
    <li><a href="#onglet-graphe">Graphe</a></li>
    <li><a href="#onglet-graphique">Graphique TPQ-TAQ</a></li>
    <li><a href="#onglet-tableau">Tableau tracé</a></li>
    <li><a href="#onglet-US">US traitées</a></li>
    <li><a href="#onglet-donnees">Données</a></li>
  </ul>
  <div id="onglet-parametres">
  </div>
  <div id="onglet-traitement">
  </div>
  <div id="onglet-graphe">
  </div>
  <div id="onglet-graphique">
  </div>
  <div id="onglet-tableau">
  </div>
  <div id="onglet-US">
  </div>
  <div id="onglet-donnees">
  </div>
</div>
-->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	<div id="panel_parametres" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingParametres">
			<h4 class="panel-title">
				<span class="icon-edit" aria-hidden="true"></span>&nbsp;
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseParametres" aria-expanded="true" aria-controls="collapseParametres">
					Paramètres
				</a>
			</h4>
		</div>
		<div id="collapseParametres" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingParametres">
			<div class="panel-body">		
				<form id="form_selection" method="POST" action="index">
					<input type="hidden" id="baseUrl" value="<?php echo $request->getBaseUrl() ; ?>" />
					<input type="hidden" id="configPort" value="<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>" />
					<input type="hidden" id="sitefouilleId" type="text" value="<?php echo $sitefouille_id ?>">
					Titre du graphe : <input id="titregraphe" name="parametres" class="text" type="text" placeholder="Titre du graphe" value="">
 			 		<hr>
				  	<p><b>Tracé du diagramme :</b></p>
					<div style="margin-left: 20px;">
	 			 		<input id="ecartentrelignes" name="parametres" class="text" type="text" value="25"> écart entre lignes
 				 		<br>
  						<input id="ecartentreaxes" name="parametres" class="text" type="text" value="12"> écart entre axes
  						<br>
  						<input id="largeurcadresUS" name="parametres" class="text" type="text" value="30"> largeur cadres d'US
 			 			<br>
 			 			<input id="marge" name="parametres" class="text" type="text" value="60"> marge
 			 		</div>
 			 		<hr>
  					<input type="checkbox" id="traitementdonneesincertaines" name="parametres" value="traitementdonneesincertaines" checked> <b>Traitement des données incertaines</b>
 			 		<br>
 			 		<hr>
  					<input type="checkbox" id="miseenphases" name="parametres" value="miseenphases" checked> <b>Mise en phases :</b>
					<div style="margin-left: 20px;">
	  					<input type="radio" id="auplusancien" name="parametres_auplus" value="au plus ancien" checked> au plus ancien
  						<input type="radio" id="auplusrecent" name="parametres_auplus" value="au plus récent"> au plus récent
 			 		</div>
 			 		<hr>
  					<input type="checkbox" id="traitementelementsdatation" name="parametres" value="traitementelementsdatation" checked> <b>Traitement des éléments de datation :</b>
					<div style="margin-left: 20px;">
	 			 		<input id="bornehaute" name="parametres" class="text" type="text" value="-10000"> borne haute de la stratification
 				 		<br>
 				 		<input id="bornebasse" name="parametres" class="text" type="text" value="2009"> borne basse de la stratification
						<div style="margin-left: 20px;">
							<b>Calage diagramme</b>
 					 		<br>
  							<input type="radio" id="surdatesplancher" name="parametres_surdates" value="sur dates plancher" checked> sur dates plancher
  							<input type="radio" id="surdatesplafond" name="parametres_surdates" value="sur dates plafond"> sur dates plafond
 					 		<br>
  							<input type="checkbox" id="tracepaliers" name="parametres" value="tracepaliers" checked> tracé des paliers (date plancher ou plafond)
	 			 		</div>
 			 		</div>
 			 		<hr>
  					<input type="checkbox" id="graphiqueintervalles" name="parametres" value="graphiqueintervalles" checked> <b>Graphique des intervalles TPQ-TAQ :</b>
					<div style="margin-left: 20px;">
	  					<input type="checkbox" id="indicationTPQTAQsaisis" name="parametres" value="indicationTPQTAQsaisis" checked> indication TPQ-TAQ saisis (non déduits)
 				 		<br>
 				 		<input id="intervallegraduation" name="parametres" class="text" type="text" value="50"> intervalle graduation (en années)
 			 		</div>
 			 		<hr>
  					<!-- <input type="checkbox" id="editionmatrice" name="parametres" value="editionmatrice"> Edition matrice (suivi d'exécution de l'algorithme) -->
					<div hidden>
		 				<div id="loadJson"><!-- <button id="load_btn">charger Json</button> --><textarea id="Json" style="width:100%;height:400px"></textarea> </div>
						<!-- <button id="ok">Lancer</button> -->
						<input type="hidden" id="serviceurl" type="text" value="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/export/stratifiant-json/<?php echo $sitefouille_id ?>">
					</div>
  				</form>
				<div style="float:right;padding-bottom:10px;padding-top:10px">
				<?php if ((!is_null($sitefouille_id)) && (!empty($sitefouille_id))) { ?>
					<span onclick="lancerStratifiant();" class="btn btn-default">Lancer</span>
					<span onclick="recommencerStratifiant();" class="btn btn-default">Recommencer</span>
				<?php } ?>
					<span onclick="retourStratifiant('<?php echo $this->getRequest('Index', 'index'); ?>');" class="btn btn-default">Retour</span>
				</div>				
			</div>
		</div>
  	</div>

	<div id="panel_traitement" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingTraitement">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTraitement" aria-expanded="false" aria-controls="collapseThree">
					Traitement
				</a>
			</h4>
		</div>
		<div id="collapseTraitement" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTraitement">
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutParametre" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outParametre')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outParametre');" class="btn btn-default">Export PDF</span>
  			<span onclick="$('#outParametre').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outParametre">		
			</div>
		</div>
  	</div>

	<div id="panel_graphe" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingGraphe">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphe" aria-expanded="false" aria-controls="collapseThree">
					Graphe
				</a>
			</h4>
		</div>
		<div id="collapseGraphe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGraphe">
<!--
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutGraphe" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outGraphe')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outGraphe');" class="btn btn-default">Export PDF</span>
-->
  			<span onclick="$('#outGraphe').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outGraphe">		
			</div>
		</div>
  	</div>

	<div id="panel_graphique" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingGraphique">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphique" aria-expanded="false" aria-controls="collapseThree">
					Graphique TPQ-TAQ
				</a>
			</h4>
		</div>
		<div id="collapseGraphique" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGraphique">
<!--
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutGrapheDatation" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outGrapheDatation')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outGrapheDatation');" class="btn btn-default">Export PDF</span>
-->
  			<span onclick="$('#outGrapheDatation').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outGrapheDatation">		
			</div>
		</div>
  	</div>

	<div id="panel_tableau" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingTableau">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTableau" aria-expanded="false" aria-controls="collapseThree">
					Tableau tracé
				</a>
			</h4>
		</div>
		<div id="collapseTableau" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTableau">
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutTabTrace" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outTabTrace')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outTabTrace');" class="btn btn-default">Export PDF</span>
  			<span onclick="$('#outTabTrace').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outTabTrace" style="overflow-x:scroll;">		
			</div>
		</div>
  	</div>

	<div id="panel_US" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingUS">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUS" aria-expanded="false" aria-controls="collapseThree">
					US traitées
				</a>
			</h4>
		</div>
		<div id="collapseUS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUS">
<!--
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutUsTraite" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outUsTraite')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outUsTraite');" class="btn btn-default">Export PDF</span>
-->
  			<span onclick="$('#outUsTraite').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outUsTraite" style="overflow-x:scroll;">		
			</div>
		</div>
  	</div>

	<div id="panel_unites" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingUnites">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseUnites" aria-expanded="false" aria-controls="collapseThree">
					Unités
				</a>
			</h4>
		</div>
		<div id="collapseUnites" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUnites">
<!--
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutUnite" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outUnite')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outUnite');" class="btn btn-default">Export PDF</span>
-->
  			<span onclick="$('#outUnite').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outUnite" style="overflow-x:scroll;">		
			</div>
		</div>
  	</div>

	<div id="panel_relations" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingRelations">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRelations" aria-expanded="false" aria-controls="collapseThree">
					Relations
				</a>
			</h4>
		</div>
		<div id="collapseRelations" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRelations">
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutRelation" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outRelation')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outRelation');" class="btn btn-default">Export PDF</span>
  			<span onclick="$('#outRelation').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outRelation" style="overflow-x:scroll;">		
			</div>
		</div>
  	</div>

	<div id="panel_phases" class="panel panel-primary">
		<div class="panel-heading" role="tab" id="headingPhases">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePhases" aria-expanded="false" aria-controls="collapseThree">
					Phases
				</a>
			</h4>
		</div>
		<div id="collapsePhases" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPhases">
<form action="http://<?php echo Yab_Loader::getInstance()->getConfig()['ip'] ?>:<?php echo Yab_Loader::getInstance()->getConfig()['port'] ?>/toPDF/" method="post" target="_blank">
               <input id="htmloutPhase" type="hidden" value="" name="html"/>
               <button onclick="convertirPDF('outPhase')">Convertir PDF</button>
</form>
			<span onclick="generatePDF('outPhase');" class="btn btn-default">Export PDF</span>
  			<span onclick="$('#outPhase').print();" class="btn btn-default">Imprimer</span>
			<div class="panel-body generatepdf" id="outPhase" style="overflow-x:scroll;">		
			</div>
		</div>
  	</div>

</div>