<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($interpretations, 'pager_interpretation');

$interpretations = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Interpretation</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('interpretation'); ?></td>
			<td><?php echo $pager->getSortLink('visible'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($interpretations as $interpretation): ?>
		<tr>
			<td<?php echo $pager->getClass($interpretations); ?>><?php echo $interpretation->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($interpretations); ?>><?php echo $interpretation->get('interpretation', $filter_html); ?></td>
			<td<?php echo $pager->getClass($interpretations); ?>><?php echo $interpretation->get('visible', $filter_html); ?></td>
			<td<?php echo $pager->getClass($interpretations); ?>><a href="<?php echo $this->getRequest('Interpretation', 'edit', $interpretation->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($interpretations); ?>><a href="<?php echo $this->getRequest('Interpretation', 'delete', $interpretation->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="5">
				<a href="<?php echo $this->getRequest('Interpretation', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>