<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($topo_uses_index, 'pager_topo_us');

$topo_uses_index = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Topo_Us</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('topo_id'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($topo_uses_index as $topo_us): ?>
		<tr>
			<td<?php echo $pager->getClass($topo_uses_index); ?>><?php echo $topo_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_index); ?>><?php echo $topo_us->get('topo_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_index); ?>><a href="<?php echo $this->getRequest('Topo_Us', 'edit', $topo_us->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($topo_uses_index); ?>><a href="<?php echo $this->getRequest('Topo_Us', 'delete', $topo_us->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="4">
				<a href="<?php echo $this->getRequest('Topo_Us', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>