<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($topo_uses_list, 'pager_topo_us');

$topo_uses_list = $pager->getStatement();
	$sum_x = 0 ;
	$sum_y = 0 ;
	$sum_z = 0 ;
	$nb_xyz = 0 ;
	
?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Topo_Us</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('topo_id'); ?></td>
			<td><?php echo $pager->getSortLink('x'); ?></td>
			<td><?php echo $pager->getSortLink('y'); ?></td>
			<td><?php echo $pager->getSortLink('z'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($topo_uses_list as $topo_us): 
			$sum_x =+ echo $topo_us->get('x');
			$sum_y =+ echo $topo_us->get('y');
			$sum_z =+ echo $topo_us->get('z');
			$nb_xyz =+ 1 ;
	?>
		<tr>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('topo_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('x', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('y', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('z', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><a href="<?php echo $this->getRequest('Topo_Us', 'edit', array() ); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><a href="<?php echo $this->getRequest('Topo_Us', 'delete', array() ); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="7">
				<a href="<?php echo $this->getRequest('Topo_Us', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
    <?php if(!empty($nb_xyz)){ ?>
    <tr>
			<th colspan="7"> 
				Coordonn&eacute;es m&eacute;dianees
			</th>
		</tr>
		<tr>
      <td></td>
			<td><?php echo ( $sum_x / $nb_xyz ) ; ?></td>
			<td><?php echo ( $sum_y / $nb_xyz ) ; ?></td>
			<td><?php echo ( $sum_z / $nb_xyz ) ; ?></td>			
		</tr>
    <?php } ?>
	</tfoot>
</table></div>