<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($topo_uses_list, 'pager_topo_us');

$topo_uses_list = $pager->getStatement();
	$sum_x = 0 ;
	$sum_y = 0 ;
	$sum_z = 0 ;
	$nb_xyz = 0 ;

?>

<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<!-- 
			<th><?php echo $pager->getSortLink('us_id'); ?></th>
			<th><?php echo $pager->getSortLink('topo_id'); ?></th>
      -->
			<th><?php echo $pager->getSortLink('x'); ?></th>
			<th><?php echo $pager->getSortLink('y'); ?></th>
			<th><?php echo $pager->getSortLink('z'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($topo_uses_list as $topo_us): 
			$sum_x =+ $topo_us->get('x');
			$sum_y =+ $topo_us->get('y');
			$sum_z =+ $topo_us->get('z');
			$nb_xyz =+ 1 ;
	?>
		<tr>
    <!-- 
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('topo_id', $filter_html); ?></td>
    -->
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('x', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('y', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topo_uses_list); ?>><?php echo $topo_us->get('z', $filter_html); ?></td>			
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
    <?php if(!empty($nb_xyz)){ ?>
    <tr>
			<th colspan="3"> 
				Coordonn&eacute;es m&eacute;dianees
			</th>
		</tr>
		<tr>
			<td><?php echo ( $sum_x / $nb_xyz ) ; ?></td>
			<td><?php echo ( $sum_y / $nb_xyz ) ; ?></td>
			<td><?php echo ( $sum_z / $nb_xyz ) ; ?></td>			
		</tr>
    <?php } ?>

	</tfoot>
</table>
