
<script src="<?php echo $request->getBaseUrl(); ?>/js/ajax_init_XMLHttpRequest.js"></script>	
<script src="<?php echo $request->getBaseUrl(); ?>/js/liste_reference.js"></script>
<script src="<?php echo $request->getBaseUrl(); ?>/js/notifications.js"></script>

<form method="POST">

	<table class="categorie_table_ref">
		<tr class="table_head gestion_bordures">
			<th class="ref_gestion_taille_select txt-position" colspan=2>Séléction d'une table de référence</th>
			<td class="ref_gestion_taille_select th-center" colspan=2>
				<select name="reference" id="reference" class="color select_style" onchange='ajaxReference("liste");ajaxReference("nom");affichageTableau();'>
					<option value="0">Choisir une référence</option>
					<?php 
					foreach ($liste as $key => $var)
						echo '<option value="'.$var["categorie_key"].'">'.$var["categorie_value"].'</option>';
					?>
				</select>
			</td>
		</tr>
	</table>

	<br />
	
	<table class="categorie_table_ref" id="affichage" style="display:none">
		<tr class="white gestion_bordures" border='1'>
			<th class="txt-position" colspan=5>baba Création d'une référence</th>
		</tr>
		<tr class="table_head gestion_bordures">
		<th class="ref_gestion_taille_insert txt-position" id="nomReference">Libellé de la référence</th>
		<td class="ref_gestion_taille_insert txt-position"><input class="color inputColor input_style" type="text" name="libeleCreer" id="libeleCreer" value="" placeholder="Nom du libélé" /></td>
		<th class="ref_gestion_taille_insert txt-position">Visibilité</th>
		<td class="ref_gestion_taille_insert th_center">
			<input type="checkbox" name="visibleCreer" id="visibleCreer" checked="checked" /></td>
		<td class="ref_gestion_taille_insert th_center"><input type="button" name="save" id="save" value="" class="btn-creer" onClick="ajaxReference('insert');" /></td>
		</tr>
	</table>
	
	<br />
	
	<div id="listeRef"></div>
</form>