<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();

if (!empty($fsn_categories) ) {
  $pager = new Yab_Helper_Pager($fsn_categories, 'pager_fsn_categorie');
  $fsn_categories = $pager->getStatement(false);
}
$helper_formSearch = new Yab_Helper_Form($formSearch);


?>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
     var oTableCategories;
     
     oTableCategories = $("#table_categories").dataTable({
        "bPaginate": true, 
        "bProcessing": false, 
        "bInfo": false,
        "oLanguage": {
            "sZeroRecords": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_error')) ; ?>",
            "sSearch": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_label')) ; ?>"
          }
      });
    	oSettings = oTableCategories.fnSettings();
  
  });
</script>

<div class="table-responsive">
  <div id="optiontools">
<?php 
  // echo $helper_formSearch->setLegend('Visualisation')->setSubmit('Visu')->setButton($this->getRequest('Fsn_Categorie', 'index'), 'Retour');
?>  
    <form name="SelectCategorie" method="POST" action="" role="form">
    	<table class="categorie_table_ref">
    		<tr class="table_head gestion_bordures">
    			<th class="ref_gestion_taille_select txt-position" colspan=2>
            <?php echo $filter_html->filter($formSearch->getElement('categorie_type')->get('label')); ?>
          </th>
    			<td class="ref_gestion_taille_select th-center" colspan=2>
            <?php echo $formSearch->getElement('categorie_type')->getHtml(); ?>
    			</td>
    		</tr>
    	</table>
    </form>
  </div>

<?php if (!empty($fsn_categories) ) { ?>  
  <div>
    <form name="AddCategorie" method="POST" action="" role="form">    
      <table class="categorie_table_ref" id="affichage">
    		<tr class="white gestion_bordures">
    			<th class="txt-position" colspan=5>Création d'une référence</th>
    		</tr>
    		<tr class="table_head gestion_bordures">
      		<th class="ref_gestion_taille_insert txt-position" id="nomReference">Libellé de la référence</th>
      		<td class="ref_gestion_taille_insert txt-position">
            <input class="color inputColor input_style" type="text" required="required" name="libelleCreer" id="libelleCreer" value="" placeholder="Nom du libellé" /></td>
      		<th class="ref_gestion_taille_insert txt-position">Visibilité</th>
      		<td class="ref_gestion_taille_insert th_center">
      			<input type="checkbox" name="visibleCreer" id="visibleCreer" checked="checked"  /></td>
      		<td class="ref_gestion_taille_insert th_center"><input type="button" name="save" id="save" value="" class="btn-creer" onClick="ajaxReference('insert');" /></td>
    		</tr>
      </table>
     </form>
  </div>

  <div id="table_categories_wrapper">
    <table id="table_categories" class="display dataTable table table-striped table-bordered table-hover table-condensed table-responsive">
    	<thead>
    		<tr>
    			<th><?php echo $pager->getSortLink('id'); ?></th>
    			<th><?php echo $pager->getSortLink('categorie_object'); ?></th>
          <th><?php echo $pager->getSortLink('categorie_type'); ?></th>
    			<th><?php echo $pager->getSortLink('categorie_key'); ?></th>
    			<th><?php echo $pager->getSortLink('categorie_value'); ?></th>
    			<th><?php echo $pager->getSortLink('system'); ?></th>
          <th><?php echo $pager->getSortLink('visible'); ?></th>
    			<th><?php echo $pager->getSortLink('ordre'); ?></th>
    			<th><?php echo $pager->getSortLink('description'); ?></th>
    			<th>Action</th>          
    		</tr>
    	</thead>
    	<tbody>
    	<?php 
        foreach($fsn_categories as $fsn_categorie): 
          $color = $fsn_categorie->has('color') ?  $fsn_categorie->get('color') : null ;
          $style_color = (!empty($color) ) ? 'style="background-color: #'. $color .'; "' : null ; 
      ?>
    		<tr>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('id', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_object', $filter_html); ?></td>
          <td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_type', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_key', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_value', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('system', $filter_html); ?></td>
          <td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('visible', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('ordre', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('description', $filter_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>>
            <span>  
              <a href="<?php echo $this->getRequest('Fsn_Categorie', 'edit', $fsn_categorie->getPrimary()); ?>">
              <!-- <span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span> -->
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </span>
            <span>
              <a href="<?php echo $this->getRequest('Fsn_Categorie', 'delete', $fsn_categorie->getPrimary()); ?>">
              <!-- <span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span> -->
                <span class="glyphicon glyphicon-remove-circle alert-danger"></span>                          
              </a>
            </span>
          </td>
    		</tr>
    	<?php endforeach; ?>
    	</tbody>
    </table>
    
  </div>
  <div style="padding-top: 10px; padding-bottom: 10px; float: left;">
  	<span>
      <a href="<?php echo $this->getRequest('Fsn_Categorie', 'add'); ?>" class="btn btn-primary">Ajouter</a>
  	</span>
    <span>
      <a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
  	</span>
  </div>
  <?php } ?>
</div>