<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_no_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	$pager = new Yab_Helper_Pager($fsn_categories, 'pager_fsn_categorie');

	$fsn_categories = $pager->getStatement();
	$fsn_categories->noLimit();

?>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
     var oTableCategories;
     
     oTableCategories = $("#table_categories").dataTable({
        "bPaginate": false, 
        "bProcessing": false, 
        "bInfo": false,
        "oLanguage": {
			"sZeroRecords": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_error')) ; ?>",
			"sSearch": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_label')) ; ?>"
          }
      });
    	oSettings = oTableCategories.fnSettings();
  
  });
</script>

<div class="table-responsive">
  <div id="optiontools">
  </div>
  <div id="table_categories_wrapper">
    <table id="table_categories" class="display dataTable table table-striped table-bordered table-hover table-condensed table-responsive">
    	<thead>
    		<tr>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('id')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('categorie_object')) ; ?></th>
          <th><?php echo $filter_no_html->filter( $i18n -> say('categorie_type')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('categorie_key')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('categorie_value')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('system')) ; ?></th>
          <th><?php echo $filter_no_html->filter( $i18n -> say('visible')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('ordre')) ; ?></th>
    			<th><?php echo $filter_no_html->filter( $i18n -> say('description')) ; ?></th>
    			<th>Action</th>          
    		</tr>
    	</thead>
    	<tbody>
    	<?php 
        foreach($fsn_categories as $fsn_categorie): 
          $color = $fsn_categorie->has('color') ?  $fsn_categorie->get('color') : null ;
          $style_color = (!empty($color) ) ? 'style="background-color: #'. $color .'; "' : null ; 
      ?>
    		<tr>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('id', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_object', $filter_no_html); ?></td>
          <td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_type', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_key', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('categorie_value', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('system', $filter_no_html); ?></td>
          <td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('visible', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('ordre', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>><?php echo $fsn_categorie->get('description', $filter_no_html); ?></td>
    			<td<?php echo $pager->getClass($fsn_categories); ?>>
            <span>  
              <a href="<?php echo $this->getRequest('Fsn_Categorie', 'edit', $fsn_categorie->getPrimary()); ?>">
              <!-- <span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span> -->
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </span>
            <span>
              <a href="<?php echo $this->getRequest('Fsn_Categorie', 'delete', $fsn_categorie->getPrimary()); ?>">
              <!-- <span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span> -->
                <span class="glyphicon glyphicon-remove-circle alert-danger"></span>                          
              </a>
            </span>
          </td>
    		</tr>
    	<?php endforeach; ?>
    	</tbody>
    	<tfoot>
    		<tr>
    			<td colspan="11"><?php echo $pager->getPagination(); ?></td>
    		</tr>
    		<tr>
    			<td colspan="11">
    				<a href="<?php echo $this->getRequest('Fsn_Categorie', 'add'); ?>" class="btn btn-primary">Ajouter</a>
    				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
    			</td>
    		</tr>
    	</tfoot>
    </table>
  </div>
</div>