<!-- jfb 2016-06-10 mantis 123 début -->
<?php
	// appel fichier internationalisation
	$registry = Yab_Loader::getInstance() -> getRegistry();
	$i18n = $registry -> get('i18n');
	$filter_no_html = new Yab_Filter_NoHtml();
?>

<script src="<?php echo $request->getBaseUrl(); ?>/js/user/user.js"></script> <!-- jfb 2016-06-10 mantis 275 -->

<h2 class="page-header">
	<?php
    $useredittitre = $filter_no_html->filter( $i18n -> say('edit_form'))
                     .' '
                     .$filter_no_html->filter( $i18n -> say('user'))
    //               .' : ' ;
	//$filter_no_html->filter($helper_form->getElement('nom')->get('value')) ;
	?>
</h2>
<!-- jfb 2016-06-10 mantis 123 fin -->

<?php 
    // jfb 2016-06-10 mantis 123 début
	//echo $helper_form->setLegend('Editer')->setSubmit('Enregistrer')->setButton($this->getRequest('User', 'index'), 'Retour');	
	echo $helper_form->setLegend($useredittitre)->setSubmit('Enregistrer')->setButton($this->getRequest('User', 'index'), 'Retour');
    // jfb 2016-06-10 mantis 123 fin	
?>
