<?php
  $session = $this->getSession();
  $registry = $this->getRegistry();
  $i18n = $this->getRegistry()->get('i18n');
  $filter_html = new Yab_Filter_Html();
  $form_errors = $form->getErrors();

  $params = $this->request->getParams() ;

?>
<?php echo $form->getHeadHtml(); ?>
<div id="ImportForm" class="well" >  
	<fieldset class="D3_fieldset">
		<legend><?php echo $filter_html->filter($i18n->say('menu_import')); ?></legend>
		<?php if($form->isSubmitted() && $form->isValid()): ?>

		<div class="confirmation"><?php echo $filter_html->filter('ADD_CONFIRMATION'); ?></div>
		<?php endif; ?>
		<?php foreach($form_errors as $name => $errors): ?>
		<div class="error"><a class="error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a></div>
		<?php endforeach; ?>
    
    <?php foreach($form->getElements() as $element) { ?>
  		<div class="field<?php echo array_key_exists($element->get('name'), $form_errors) ? ' error' : ''; ?>">
  			<label for="module"><?php echo $filter_html->filter($i18n->say($element->get('label'))); ?></label>
  			<?php echo $form->getElement($element->get('name'))->getHtml(); ?>
        <?php 
          $tooltip = $element->has('tooltip') ? $element->get('tooltip') : null ; 
          if( !empty($tooltip) ){  ?>
        <span
          id="<?php echo $element->get('name') ;?>_tooltip"
          class="glyphicon glyphicon-info-sign"
          data-toggle="popover"
          data-container="body"
          data-content="<?php echo $tooltip ; ?>"            
          data-placement="right"
          style="cursor:pointer;"
        ></span>
        <?php } ?> 
  		</div>
    <?php } ?>
    <div>
			<input class="btn btn-primary" value="<?php echo $filter_html->filter($i18n->say('valid', array(''))); ?>" type="submit">
			<a href="<?php echo $this->getRequest('Fsn_Historique', 'index'); ?>" class="btn btn-default" "=""><?php echo $filter_html->filter($i18n->say('cancel', array(''))); ?></a>
		</div>		
	</fieldset>
</div>
<?php echo $form->getTailHtml(); ?>
