<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	// gestion des accentuations / date / ....
	$filter_html = new Yab_Filter_Html();
	$this->set('format','%d/%m/%Y') ;
	  
	$pager = new Yab_Helper_Pager($fsn_historiques, 'pager_fsn_historique');
  
	$categorie_object_filter = $pager->getFilter('', 'categorie_object', 'categorie_object')
	  	->set('label',$filter_html->filter( $i18n -> say('categorie_object') ))
	  	->set('onChange','submit()')
	  	->set('fake_options', array('' => '-- '.$i18n->say('make_a_choice').' le '.$i18n->say('module')))
	  	->getHtml();
	        
  
  // $fsn_historiques = $pager->getStatement();

?>

<script type="text/javascript">

	  function showDetailHistorique(historique_id)
	  {
	     $.ajax({ 
	     	type:"POST",
			url: "<?php echo $this->getRequest('fsn_historique','show' ) ; ?>0/"+historique_id,
			data: "layout=0&historique_id="+historique_id,
			success: function(returnData) {
		        // Affichage du modal (boite de dialogue)
		        $('#modalDialog').removeClass('modal-md');
		        $('#modalDialog').addClass('modal-lg');
		        $('#modalTitle').html('Visualisation historique ');
		        $('#modalBody').html(returnData);
		        $('#myModal').modal();
		        if(data.error) 
		          alert(data.error);
			},
			error: function(returnData) {
				alert('Une erreur est survenue.');
			}
		});
	} 

</script>

<link rel="stylesheet" type="text/css" href="<?php echo $request->getBaseUrl(); ?>/css/timeline.css" />

<div class="col-sm-12">
    <!-- Timeline -->
    <div class="timeline">
    
        <!-- Line component -->
        <div class="line text-muted"></div>

        <!-- Separator -->
        <div class="separator text-muted">
            
        </div>
        <!-- /Separator -->
    	
    	<?php  
    		foreach($fsn_historiques as $fsn_historique){
    		
    			$historique_id = $fsn_historique->get('id');
    			$login = $fsn_historique->get('login', $filter_html); 
    			$prenom = $list_user[$login]['prenom'] ;
    			$nom = $list_user[$login]['nom'] ;
    			$type_action = $fsn_historique->get('type_action', $filter_html);
    			$date_historique = $fsn_historique->get('date_historique', 'Date');
    			$description = $fsn_historique->get('description', $filter_html);
    			$message = ' le '.$date_historique.' par '.ucfirst ( $prenom) .' '.strtoupper ($nom) ;
    			 
    			switch ($type_action){
    				case 'add':
    					
    					$panel_contextual = 'panel-success' ;
    					$glyphicon_action = 'glyphicon-plus' ;
    					break;
    					
    				case 'create':
    					
    					$panel_contextual = 'panel-success' ;
    					$glyphicon_action = 'glyphicon-plus' ;
    					break;
    					
    				case 'edit':
    					
    					$panel_contextual = 'panel-primary' ;
    					$glyphicon_action = 'glyphicon-edit' ;
    					break;
    					
    				case 'update':
    					
    					$panel_contextual = 'panel-primary' ;
    					$glyphicon_action = 'glyphicon-edit' ;
    					break; 
    					    					
    				case 'import':    				
    					
    					$panel_contextual = 'panel-primary' ;
    					$glyphicon_action = 'glyphicon-import' ;
    					break;    
    					 					
    				case 'synchro':
    					
    					$panel_contextual = 'panel-primary' ;
    					$glyphicon_action = 'glyphicon-phone' ;
    					break;    					
    					    		    					 					
    				case 'delete':
    					
    					$panel_contextual = 'panel-danger' ;
    					$glyphicon_action = 'glyphicon-trash' ;
    					break;    					
    					    					
    				default:
    					
    					$panel_contextual = 'panel-primary' ;
    					$glyphicon_action = 'glyphicon-edit' ;
    					break;	
    				
    			} 
    	?>
        <!-- Panel -->
        <article class="panel <?php echo $panel_contextual; ?>">
    
            <!-- Icon -->
            <div class="panel-heading icon"><i class="glyphicon <?php echo $glyphicon_action; ?>"></i></div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
            	<span class="panel-title"><?php echo $filter_html->filter( $i18n -> say($type_action, array($message) ) ) ?></span>
            		<div class="pull-right">
                  <a href="#" onclick="showDetailHistorique('<?php echo $historique_id; ?>')">
                    <i class="glyphicon glyphicon-eye-open" style="font-size: 24px"></i>
                  </a>            			
            		</div>
            </div>
            <!-- /Heading -->
    		<?php if( !empty($description) ): ?>

            <!-- Body -->
            <div class="panel-body"> <?php echo $description ; ?></div>
            <!-- /Body -->
    			
    		<?php endif; ?>
    
        </article>
        <!-- /Panel -->    		
    	<?php } ?>
    	
    
    </div>
    <!-- /Timeline -->

</div>