<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($topographies, 'pager_topographie');

$topographies = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Topographie</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('id'); ?></td>
			<td><?php echo $pager->getSortLink('x'); ?></td>
			<td><?php echo $pager->getSortLink('y'); ?></td>
			<td><?php echo $pager->getSortLink('z'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($topographies as $topographie): ?>
		<tr>
			<td<?php echo $pager->getClass($topographies); ?>><?php echo $topographie->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topographies); ?>><?php echo $topographie->get('x', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topographies); ?>><?php echo $topographie->get('y', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topographies); ?>><?php echo $topographie->get('z', $filter_html); ?></td>
			<td<?php echo $pager->getClass($topographies); ?>><a href="<?php echo $this->getRequest('Topographie', 'edit', $topographie->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($topographies); ?>><a href="<?php echo $this->getRequest('Topographie', 'delete', $topographie->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="6">
				<a href="<?php echo $this->getRequest('Topographie', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>