<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($us_intervenants, 'pager_us_intervenant');

$us_intervenants = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Us_Intervenant</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('intervenant_id'); ?></td>
			<td><?php echo $pager->getSortLink('us_id'); ?></td>
			<td><?php echo $pager->getSortLink('debut'); ?></td>
			<td><?php echo $pager->getSortLink('fin'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($us_intervenants as $us_intervenant): ?>
		<tr>
			<td<?php echo $pager->getClass($us_intervenants); ?>><?php echo $us_intervenant->get('intervenant_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_intervenants); ?>><?php echo $us_intervenant->get('us_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_intervenants); ?>><?php echo $us_intervenant->get('debut', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_intervenants); ?>><?php echo $us_intervenant->get('fin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_intervenants); ?>><a href="<?php echo $this->getRequest('Us_Intervenant', 'edit', $us_intervenant->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($us_intervenants); ?>><a href="<?php echo $this->getRequest('Us_Intervenant', 'delete', $us_intervenant->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="6">
				<a href="<?php echo $this->getRequest('Us_Intervenant', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>