<?php
    $session = $this->getSession();
	$session = $this->getSession();
	$registry = $this->getRegistry();

	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
?>

<script>
</script>

<div class="table-responsive">
	<div id="optiontools"></div>
	<table class="table">
	</table>
</div>