<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_edit->getErrors();

	$base_url = $request->getBaseUrl();

	$log_id = $form_edit->getElement('log_id')->has('value') ? $form_edit->getElement('log_id')->get('value') : null ;
	//$identification = $form_edit->getElement('identification')->has('value') ? $form_edit->getElement('identification')->get('value') : null ;

?>

<script src="<?php echo $base_url; ?>/js/log/edit.js"></script>

<form name="form_couche" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-12">
 
						<div
								class="form-group field <?php echo $form_edit->getElement('log_id')->get('type'); ?> <?php echo array_key_exists('log_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('log_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_edit->getElement('log_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_edit->getElement('log_id')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('log_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo $form_edit->getElement('id')->get('type'); ?> <?php echo array_key_exists('id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('id')->get('id'); ?>">
							<?php echo $form_edit->getElement('id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('num_sequence', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('num_sequence')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('num_sequence')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('num_sequence')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('num_sequence')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('epaisseur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('epaisseur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('epaisseur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('epaisseur')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('epaisseur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('couleur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('couleur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('couleur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('couleur')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('couleur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('description')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('description')->get('label')); ?>
							</label>
							<?php echo $form_edit->getElement('description')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('us_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_edit->getElement('us_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_edit->getElement('us_id')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_edit->getElement('us_id')->get('label')); ?>
							</label>
							<div><?php echo $form_edit->getElement('us_id')->getHtml(); ?></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->

	</div>
	<div>
        <input class="btn btn-success" id="confirmerEditCouche" value="Enregistrer" type="submit">
	</div>
</form>