<?php
	  
	// appel fichier internalisation
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
    
?>

<div class="table-responsive">
  
  <div id="table_Couchelog_index_wrapper">
	  <table id="table_Couchelog_index" 
               class="table_module table table-striped table-bordered table-hover table-condensed table-responsive">
	  <!-- class="table table-striped table-bordered responsive-utilities"> --> <!--  ligne remplacee par la ligne ci-dessus -->
            <caption><?php echo $filter_no_html->filter( $i18n -> say('couches')) ; ?></caption>
                                              <!--  ajout de Couchelog_title_index dans config_i18n.ini -->
		<thead>
			<tr class="headings">
				<th><?php echo $filter_html->filter( $i18n -> say('couchelog_num_sequence_tooltip')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('epaisseur')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('couleur')) ; ?></th>
				<th><?php echo $filter_html->filter( $i18n -> say('description')) ; ?></th>
				<th><?php echo $filter_no_html->filter( $i18n -> say('us')) ; ?></th>
				
				<th colspan="2" style="text-align: center;">
                  <!-- jfb 2016-06-06 mantis 262 début
				  <a href="<?php echo $this->getRequest('Us', 'add'); ?>">
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;" alt="Ajouter" title="Ajouter"></span>  
				  </a>
				  //   jfb 2016-06-06 mantis 262 fin -->
				  <!-- jfb 2016-06-06 mantis 262 début -->
					<span class="glyphicon glyphicon-plus-sign" style="font-size: 32px;"
					      title="Ajouter" id="ajouterCouchelogALog"></span>  
				  <!-- jfb 2016-06-06 mantis 262 fin -->
				</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			  foreach($couches as $couchelog): 
				$couchelog->set('format','%d/%m/%Y') ;
				$couchelog_id = $couchelog->get('id');
                $num_sequence = $couchelog->get('num_sequence');
                $epaisseur = $couchelog->get('epaisseur');
                $couleur = $couchelog->get('couleur');
                $description = $couchelog->get('description');
				$us = $couchelog->get('us_nom');
				$count_er = $couchelog->has('nb_er') ? $couchelog->get('nb_er') : 0 ; 
			  
			?>
			<tr href="<?php echo $this->getRequest('Couchelog', 'show', array($couchelog_id)); ?>" title="<?php echo $filter_no_html->filter( $i18n->say('show_detail_title')) ; ?>" class="table-clickable-row">
				<td class="table-row-data"><?php echo $num_sequence; ?></td>
				<td class="table-row-data"><?php echo $epaisseur; ?></td>
				<td class="table-row-data"><?php echo $couleur; ?></td>
				<td class="table-row-data"><?php echo $description; ?></td>
				<td class="table-row-data"><?php echo $us; ?></td>
				<td class="table-row-option"><a href="<?php echo $this->getRequest('Couchelog', 'edit', array($couchelog_id)); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
				<td class="table-row-option">
						<span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;"
						onclick="confirmer('<?php echo $this->getRequest('Couchelog', 'delete', array($couchelog_id)); ?>');"
						alt="Supprimer" title="Supprimer" x="<?php echo $this->getRequest('Couchelog', 'delete', array($couchelog_id)); ?>"></span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	  </table>
	</div>
</div>
