<?php
  
	$registry = $this->getRegistry();
	$i18n = $registry->get('i18n');

	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	$form_errors = $form_show->getErrors();

	$base_url = $request->getBaseUrl();

	$unitesondage_id = $form_show->getElement('unitesondage_id')->has('value') ? $form_show->getElement('unitesondage_id')->get('value') : null ;
	$identification = $form_show->getElement('identification')->has('value') ? $form_show->getElement('identification')->get('value') : null ;

?>

<!-- <script src="<?php echo $request->getBaseUrl(); ?>/js/fsn_tools/ajax_relation_viewer.js"></script> -->
<!-- <script src="<?php //echo $request->getBaseUrl(); ?>/2.0/js/dialog/jquery-ui.min.js"></script> -->

<style>
	.arrow_fork_top{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_top.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_fork_middle{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_middle.png');
		background-repeat: no-repeat;
		background-position: center ;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_fork_bottom{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_fork_bottom.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size:100%;
		min-width: 80px;
	}
	.arrow_vertical_top{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_top.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size:100%;
		min-width: 20px;
		min-height: 30px;
		height: 30px;
	}
	.arrow_vertical_middle{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_middle.png');
		background-repeat: repeat-y;
		background-position: center ;
		background-size:100%;
		width: 20px;
	}
	.arrow_vertical_bottom{
		background-image:url('<?php echo $request->getBaseUrl(); ?>/images/arrow_vertical_bottom.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size:100%;
		min-width: 20px;
		min-height: 30px;
		height: 30px;
	}
	.td_border_bottom_dotted {
		border-bottom-style: dotted;
	}
	.td_border_top_dotted {
		border-top-style: dotted;
	}
</style>
<script>
	$(function(){
		$('.select').prop('disabled',true)
		$('.checkbox').prop('disabled',true)
	})
</script>
<h2 class="page-header">D&eacute;tails Log <?php echo $filter_no_html->filter($form_show->getElement('identification')->get('value')); ?>
</h2>

<form name="form_unitesondage" method="post" action="" role="form" class="form-horizontal">
	<?php foreach($form_errors as $name => $errors): ?>
	<p class="has-error">
		<a class="has-error" href="#<?php echo $name; ?>" onclick="document.getElementById('<?php echo $name; ?>').focus(); return false;"><?php echo $filter_html->filter(implode(', ', $errors)); ?></a>
	</p>
	<?php endforeach; ?>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<!-- Panel Indentification - Start -->
		<div id="panel_identification" class="panel panel-primary">
			<div class="panel-heading" role="tab" id="headingIdentification">
				<h4 class="panel-title">
					<span class="icon-address" aria-hidden="true"></span>&nbsp;
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseIdentification" aria-expanded="true" aria-controls="collapseIdentification">
						Identification
					</a>
				</h4>
			</div>
			<div id="collapseIdentification" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingIdentification">
				<div class="panel-body">
					<div class="col-md-6">
						<div
								class="form-group field <?php echo $form_show->getElement('unitesondage_id')->get('type'); ?> <?php echo array_key_exists('unitesondage_id', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('unitesondage_id')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $form_show->getElement('unitesondage_id')->get('id'); ?> ">
								<?php echo $filter_no_html->filter($form_show->getElement('unitesondage_id')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('unitesondage_id')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('identification', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('identification')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('identification')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('identification')->get('label')); ?>
							</label>
							<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<input id="<?php echo $form_show->getElement('identification')->get('id'); ?>"
									   class="form-control" type="text"
									   value="<?php echo $form_show->getElement('identification')->get('value'); ?>"
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('identification')->get('id'); ?>" >
							</div>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('num_sequence', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('num_sequence')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('num_sequence')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('num_sequence')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('num_sequence')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('epaisseur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('epaisseur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('epaisseur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('epaisseur')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('epaisseur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('couleur', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('couleur')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('couleur')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('couleur')->get('label')); ?>
							</label>
							<?php echo $form_show->getElement('couleur')->getHtml(); ?>
						</div>
						<div
								class="form-group field <?php echo array_key_exists('description', $form_errors) ? ' error' : ''; ?>"
								id="F<?php echo $form_show->getElement('description')->get('id'); ?>">
							<label
									class="col-md-3 control-label"
									for="<?php echo $filter_html->filter($form_show->getElement('description')->get('id')); ?>">
								<?php echo $filter_no_html->filter($form_show->getElement('description')->get('label')); ?>
							</label>
							<div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
								<textarea id="<?php echo $form_show->getElement('description')->get('id'); ?>"
									   class="form-control" rows="3"
									   value=""
									   disable="1" readonly="readonly" name="<?php echo $form_show->getElement('description')->get('id'); ?>"><?php echo $form_show->getElement('description')->get('value'); ?></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- Panel Indentification - End -->

	</div>
	<div>
		<!--
        <input class="btn btn-primary" value="Enregistrer" type="submit">
        -->
		<a href="<?php echo $base_url."/Unitesondage/show/".$unitesondage_id; ?>" class="btn btn-default">Retourner</a>
	</div>
	</div>
</form>
<?php
  /**
   * Indispensable pour afficher le Layout, desactivé pour les appels des differentes actions
   */
  $this->getLayout()->setEnabled(true);
?>