<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($superpositions, 'pager_superposition');

$superpositions = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Superposition</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('anterieur_id'); ?></td>
			<td><?php echo $pager->getSortLink('posterieur_id'); ?></td>
			<td><?php echo $pager->getSortLink('incertitude'); ?></td>
			<td><?php echo $pager->getSortLink('sptype_id'); ?></td>
			<td><?php echo $pager->getSortLink('dureemin'); ?></td>
			<td><?php echo $pager->getSortLink('dureemax'); ?></td>
			<td><?php echo $pager->getSortLink('observation'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($superpositions as $superposition): ?>
		<tr>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('anterieur_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('posterieur_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('incertitude', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('sptype_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('dureemin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('dureemax', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><?php echo $superposition->get('observation', $filter_html); ?></td>
			<td<?php echo $pager->getClass($superpositions); ?>><a href="<?php echo $this->getRequest('Superposition', 'edit', $superposition->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($superpositions); ?>><a href="<?php echo $this->getRequest('Superposition', 'delete', $superposition->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<a href="<?php echo $this->getRequest('Superposition', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>