<?php

	$session = $this->getSession();
	$registry = $this->getRegistry();
	  
	// appel fichier internalisation	
	$i18n = $this->getRegistry()->get('i18n');
	$filter_html = new Yab_Filter_Html();
	$filter_no_html = new Yab_Filter_NoHtml();
	
	$pager = new Yab_Helper_Pager($us_anterieurs, 'pager_us_anterieur');

// $us_anterieurs = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped table-bordered table-hover table-condensed table-responsive">
	<caption>Superposition</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('us_ante_identification', $filter_html->filter( $i18n -> say('identification')) ); ?></td>
			<td><?php echo $pager->getSortLink('incertitude', $filter_html->filter( $i18n -> say('incertitude')) ); ?></td>
			<td><?php echo $pager->getSortLink('sptype', $filter_html->filter( $i18n -> say('type')) ); ?></td>
			<td><?php echo $pager->getSortLink('dureemin', $filter_no_html->filter( $i18n -> say('dureemin')) ); ?></td>
			<td><?php echo $pager->getSortLink('dureemax', $filter_no_html->filter( $i18n -> say('dureemax'))); ?></td>
			<td><?php echo $pager->getSortLink('observation', $filter_html->filter( $i18n -> say('observation')) ); ?></td>
		</tr>
	</thead>
	<tbody>
	<?php 
		foreach($us_anterieurs as $us_anterieur): 
			$anterieur_id = $us_anterieur->get('anterieur_id');
			$observation =	$us_anterieur->get('observation', $filter_html); 
			$incertitude = $us_anterieur->get('incertitude' );
	?>
		<tr>
			<td<?php echo $pager->getClass($us_anterieurs); ?>>
				<a href="<?php echo $this->getRequest('Us', 'show', array($anterieur_id)); ?>" target="_blank">
				<?php echo $us_anterieur->get('us_post_identification', $filter_html); ?>
				</a>
			</td>
			<td<?php echo $pager->getClass($us_anterieurs); ?>>
			<?php if (!empty($incertitude) ) { ?>
				<span class="glyphicon glyphicon-ok"></span>
			<?php } ?>
			</td>
			<td<?php echo $pager->getClass($us_anterieurs); ?>><?php echo $us_anterieur->get('sptype', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_anterieurs); ?>><?php echo $us_anterieur->get('dureemin', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_anterieurs); ?>><?php echo $us_anterieur->get('dureemax', $filter_html); ?></td>
			<td<?php echo $pager->getClass($us_anterieurs); ?>>
			<?php if (!empty($observation) ) { ?>
	          <span
	            id="observation_<?php echo $anterieur_id ; ?>"
	            class="glyphicon glyphicon-comment"
	            data-toggle="popover"
	            data-container="body"
	            data-content="<?php echo $observation ; ?>"            
	            data-placement="right"
	            style="font-size: 18px; cursor:pointer;"
	          ></span>        
        	<?php } ?>				
			</td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<a href="<?php echo $this->getRequest('Superposition', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>