<dt><a href = "{$USERSSPBY}">{'Users'|@translate}</a></dt>
<dd>
 <ul>
  {foreach from=$userslistemenu1 item=userslistemenu}
  <li>
  <a href = "{$USERSSPBY}{$userslistemenu.USERSSPBYLID}-{$userslistemenu.USERSSPBYL}">{$userslistemenu.USERSSPBYL} <span class="menuInfoCat">[{$userslistemenu.USERSSPBYLC}]</span></a><br>
  </li>
  {/foreach}
  </lu>
 </dd>
