{strip}
{combine_css id="prevnext" path=$PREVNEXT_PATH|cat:"template/style.css"}

{* <!-- nothing more than the button itself must be defined here --> *}
<!-- <a href="javascript:alert('Next a la Mike  - {$txtnext}');" title="{'Next Album'|translate:('button'|translate)}" class=" pwg-button" rel="nofollow"> -->
	<a href="next.png">Next Album</a>
  <span class="next-button">  </span>
  <span class="pwg-button-text">{'Skeleton'|translate}</span>
</a>
{/strip}