<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_admin_groups, 'pager_fsn_admin_group');

$fsn_admin_groups = $pager->getStatement();

?>

<div class="table-responsive"><div id="optiontools"></div><table class="table table-striped">
	<caption>Fsn_Admin_Group</caption>
	<thead>
		<tr>
			<td><?php echo $pager->getSortLink('group_id'); ?></td>
			<td><?php echo $pager->getSortLink('parent_group_id'); ?></td>
			<td><?php echo $pager->getSortLink('group_name'); ?></td>
			<td><?php echo $pager->getSortLink('group_label'); ?></td>
			<td><?php echo $pager->getSortLink('is_active'); ?></td>
			<td><?php echo $pager->getSortLink('parameter'); ?></td>
			<td><?php echo $pager->getSortLink('comment'); ?></td>
			<td colspan="2">#</td>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fsn_admin_groups as $fsn_admin_group): ?>
		<tr>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('group_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('parent_group_id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('group_name', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('group_label', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('is_active', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('parameter', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><?php echo $fsn_admin_group->get('comment', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Group', 'edit', $fsn_admin_group->getPrimary()); ?>"><span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span></a></td>
			<td<?php echo $pager->getClass($fsn_admin_groups); ?>><a href="<?php echo $this->getRequest('Fsn_Admin_Group', 'delete', $fsn_admin_group->getPrimary()); ?>"><span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span></a></td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<a href="<?php echo $this->getRequest('Fsn_Admin_Group', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default" >Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table></div>