<?php

$session = $this->getSession();
$filter_html = new Yab_Filter_Html();
$pager = new Yab_Helper_Pager($fsn_categorie_relations, 'pager_fsn_categorie_relation');

$fsn_categorie_relations = $pager->getStatement();
/*
print '<pre>';
print_r($fsn_categorie_relations );
print '</pre>';
*/
?>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo $request->getBaseUrl(); ?>/js/dataTable/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
     var oTableCategories;
     
     oTableCategories = $("#table_relations").dataTable({
        "bPaginate": false, 
        "bProcessing": false, 
        "bInfo": false,
        "oLanguage": {
			"sZeroRecords": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_error')) ; ?>",
			"sSearch": "<?php echo $filter_html->filter( $i18n -> say('recherche_globale_label')) ; ?>"
          }
      });
    	oSettings = oTableCategories.fnSettings();
  
  });
</script>

<div class="table-responsive">
  <div id="optiontools">
  </div>
  <div id="table_relations_wrapper">
    <table id="table_relations" class="display dataTable table table-striped">
	<caption>Fsn_Categorie_Relation</caption>
	<thead>
		<tr>
			<th><?php echo $pager->getSortLink('id'); ?></th>
			<th><?php echo $pager->getSortLink('Element A'); ?></th>
			<th><?php echo $pager->getSortLink('Type De Relation'); ?></th>
			<th><?php echo $pager->getSortLink('Element B'); ?></th>
			<th><?php echo $pager->getSortLink('Visible'); ?></th>
			<th><?php echo $pager->getSortLink('Ordre'); ?></th>
			<th><?php echo $pager->getSortLink('Description'); ?></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($fsn_categorie_relations as $fsn_categorie_relation): ?>
		<tr>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('id', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('element_a_value', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('type_relation', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('element_b_value', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('visible', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('ordre', $filter_html); ?></td>
			<td<?php echo $pager->getClass($fsn_categorie_relations); ?>><?php echo $fsn_categorie_relation->get('description', $filter_html); ?></td>
			<td>
        <span>
          <a href="<?php echo $this->getRequest('Fsn_Categorie_Relation', 'edit', array($fsn_categorie_relation->get('id') )); ?>">
            <span class="glyphicon glyphicon-edit" style="font-size: 18px;" alt="Editer" title="Editer" ></span>
          </a>
        </span>
  			<span>
          <a href="<?php echo $this->getRequest('Fsn_Categorie_Relation', 'delete', array($fsn_categorie_relation->get('id') )); ?>">
            <span class="glyphicon glyphicon-remove-circle alert-danger" style="font-size: 18px;" alt="Supprimer" title="Supprimer"></span>
          </a>
        </span>
      </td>
		</tr>
	<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="9"><?php echo $pager->getPagination(); ?></td>
		</tr>
		<tr>
			<td colspan="9">
				<a href="<?php echo $this->getRequest('Fsn_Categorie_Relation', 'add'); ?>" class="btn btn-primary">Ajouter</a>
				<a href="<?php echo $this->getRequest('Index', 'index'); ?>" class="btn btn-default">Retour &agrave; index</a>
			</td>
		</tr>
	</tfoot>
</table>