.file_uploader_center {
    text-align: center;
}

.file_uploader_center form {
    text-align: center;
}

.property {
	font-weight: bold;
}
	
.file_uploader_error {
	border-color: #ff7070;
	background-color: #FFe5e5;
}

.file_uploader_error_description {
	background-color: red;
	color: white;
	padding: 0 5px;
	border-radius: 10px;
	font-weight: bold;
	cursor: help;
}

.file_uploader_help_title {
	text-align:center;
	font-weight:bold;
	font-size:150%;
	margin-top:2em;
}

.file_uploader_help_content {
	text-align:left;
}